.blog-pager {
  text-align: right;
  font-family: DM Sans, sans-serif;

  .blog-pager__item {
    padding: 5px;

    a {
      color: red;
    }
  }
}

.blog-page-container {
  width: 1128px;
  margin: 0 auto;
  box-sizing: border-box;

  @media only screen and (max-width: 600px) {
    width: 100%;
    padding: 72px 20px 0;
  }
}

.featured-blog-wrapper {
  height: 480px;
  width: 100%;
  margin: 60px 0;
  position: relative;

  @media only screen and (max-width: 600px) {
    margin: 0;
    height: 400px;
  }

  .background {
    height: 100%;
    width: 100%;
    position: absolute;
    //noinspection CssUnknownTarget
    background-image: url(/images/binary.svg);
    background-size: 756px 260px;
    background-repeat: no-repeat;
    background-position: right bottom;
    opacity: 0.6;

    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  .featured-blog {
    height: 360px;
    width: 1032px;
    position: absolute;
    top: 40px;
    background: rgb(203, 31, 31);
    background: linear-gradient(90deg, rgba(203, 31, 31, 1) 0%, rgba(121, 9, 29, 1) 51%, rgba(0, 0, 0, 1) 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media only screen and (max-width: 600px) {
      width: 100%
    }

    .title {
      max-width: 952px;
      display: inline-block;
      overflow: hidden;
      min-height: 80px;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 52px;
      font-family: 'Jagerlay', serif;
      font-weight: 400;
      line-height: 80px;
      position: absolute;
      top: -40px;
      left: 20px;
      padding: 0 20px;
      background-color: black;
      color: white;

      @media only screen and (max-width: 600px) {
        font-size: 24px;
        max-width: 85%;
      }
    }

    .subtitle {
      max-width: 568px;
      font-size: 24px;
      font-family: 'Jagerlay', serif;
      position: absolute;
      left: 20px;
      padding: 5px;
      background-color: black;
      color: white;

      @media only screen and (min-width: 601px) {
        top: 100px;
      }

      @media only screen and (max-width: 600px) {
        font-size: 16px;
        max-width: 85%;
        bottom: 80px;
        vertical-align: bottom;
      }
    }

    .time {
      position: absolute;
      bottom: 20px;
      left: 20px;
      background: #000000;
      color: #FFFFFF;
      padding: 5px;
      font-size: 12px;
      font-family: Telegraf, serif;

      span {
        vertical-align: top;
        padding-right: 5px;
      }
    }

    .button {
      position: absolute;
      right: 20px;
      bottom: 20px;
      border: 1px solid #FFFFFF;
    }
  }
}

.other-posts-title {
  display: none;
  margin-top: 26px;

  @media only screen and (max-width: 600px) {
    display: block;
    font-family: 'Jagerlay', serif;
    font-weight: 400;
    font-size: 20px;
  }
}

.blog-grid-container {
  @media only screen and (max-width: 600px) {
    box-sizing: border-box;
    padding: 0 20px;
  }
}

.blog-grid {
  width: 100%;
  margin: 40px auto;

  @media only screen and (max-width: 600px) {
    margin: 20px 0;
  }

  .card {
    display: inline-block;
    margin-right: 19px;
    margin-bottom: 19px;
    width: 360px;
    height: 379px;

    @media only screen and (max-width: 600px) {
      width: 100%;
      margin-right: 0;
    }

    .banner {
      height: 305px;
      padding: 10px;
      width: 340px;
      background: rgb(0, 0, 0);
      background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(203, 31, 31, 1) 100%);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @media only screen and (max-width: 600px) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;
      }

      span {
        display: table-cell;
        height: 305px;
        vertical-align: bottom;
        font-family: 'DM Sans', serif;
        font-size: 20px;
        color: #FFFFFF;
      }
    }

    .info {
      position: relative;

      .topic {
        text-transform: uppercase;
        font-family: "Supply", serif;
        font-size: 9px;
        position: absolute;
        top: 22px;
        left: 0;
        color: red;
      }

      .time {
        position: absolute;
        top: 22px;
        right: 0;
        font-size: 12px;
        font-family: Telegraf, serif;

        span {
          vertical-align: top;
          padding-right: 5px;
          text-decoration: none;
          color: #000000;
        }
      }
    }
  }

  .card:nth-child(3n) {
    margin-right: 0;
  }
}

#blog-hero-header {
  @media only screen and (max-width: 600px) {
    .description {
      padding: 100px 32px 0;
    }
  }
}

.blog {
  font-family: 'DM Sans', serif;
  width: 1063px;
  margin: 48px auto 48px;

  @media only screen and (max-width: 600px) {
    width: 100%;
    margin: 48px 0 0;
  }

  .header {
    margin: 48px auto 22px;
    font-weight: 500;

    @media only screen and (max-width: 600px) {
      margin: 20px;
    }

    .topic {
      text-transform: uppercase;
      font-family: "Supply", serif;
      font-size: 9px;
      color: red;
    }

    .title {
      font-family: "Jagerlay", serif;
      font-size: 36px;
      text-align: left;
      margin-top: 0;
      padding: 10px 0 20px;

      .time {
        display: inline-block;
        font-size: 12px;
        font-family: Telegraf, serif;

        span {
          vertical-align: top;
          text-decoration: none;
          color: #000000;
        }
      }
    }

    .subtitle {
      width: 551px;
      margin-bottom: 40px;
      font-size: 16px;
      font-family: 'DM Sans', serif;
      font-weight: 400;
      text-align: left;

      @media only screen and (max-width: 600px) {
        width: 100%;
      }
    }

    .banner {
      float: left;
      width: 743px;

      @media only screen and (max-width: 600px) {
        width: 100%;
      }
    }

    .get-to-know {
      float: right;
      width: 263px;

      h3,
      h4 {
        text-align: left;
      }

      h4 {
        margin-top: 0;
        text-align: left;
        font-family: 'Supply', serif;
        font-weight: 400;
        font-size: 11px;
        text-transform: uppercase;
      }

      p {
        font-weight: 400;
        font-size: 12px;
      }


      @media only screen and (max-width: 600px) {
        display: none;
      }
    }

    .author {
      display: block;
      padding-top: 22px;

      a {
        color: #FC0000
      }

    }

  }

  .body {
    font-weight: normal;
    width: 742px;

    @media only screen and (max-width: 600px) {
      width: 100%;
      box-sizing: content-box;
    }

    .text {
      @media only screen and (max-width: 600px) {
        margin: 0 20px;
      }

      a {
        color: red;
      }

      blockquote {
        font-family: 'Supply', serif;
        font-weight: 400;
      }

      h2,
      h3,
      h4 {
        font-family: 'Jagerlay', serif;
        font-weight: 400;
        text-align: left;
      }

      .quote {
        float: right;
        width: 396px;
        font-family: "Supply", serif;
        font-size: 32px;

        @media only screen and (max-width: 600px) {
          width: 100%;
          display: flex;
          margin-bottom: 20px;
        }

        .open {
          float: left;
          font-size: 120px;
          margin-top: -22px;
          width: 72px;
        }

        .text {
          float: right;
          width: 322px;
          @media only screen and (max-width: 600px) {
            flex-grow: 1;
          }
        }

      }
    }
  }

  .social {
    list-style: none;
    margin: 10px 0 0;
    padding-left: 0;
    @media only screen and (max-width: 600px) {
      margin: 10px 20px 0;
    }

    li {
      display: inline-block;
      padding-right: 10px;

      img {
        width: 20px;
      }
    }

    li:last-child {
      padding-right: 0;
    }
  }

  .apos-area {
    width: 100%;
    font-family: "DM Sans", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
  }
}

.more-in-topic {
  margin: 28px 0;

  @media only screen and (max-width: 600px) {
    margin: 28px 20px;
  }

  h1 {
    font-family: "Jagerlay", serif;
    font-weight: 500;
    font-size: 24px;
    text-align: left;
  }

  a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: red;
  }
}

.blog-background-wrapper {
  position: relative;

  .blog-background {
    position: absolute;
    right: 0;
    top: 15%;
    z-index: -1;
  }

  @media only screen and (max-width: 1000px) {
    width: 277px;

    .blog-background {
      transform: rotate(90deg);
      left: -50%;
      top: 25%;
    }
  }

  @media only screen and (max-width: 800px) {
    .blog-background {
      display: none;
    }
  }
}

.blog-container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fill, max(280px, 27%));
  row-gap: 16px;
  font-family: 'DM Sans', serif;

  .post {
    height: 260px;
    width: 277px;
    //noinspection CssUnknownTarget
    background-image: url("/images/background-default-blog.svg");
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      width: 202px;
      height: fit-content;
      background-color: #131414;
      font-size: 16px;
      margin: 10px;
      padding-left: 8px;
    }

    .subtitle {
      width: 235px;
      height: fit-content;
      background-color: #131414;
      font-size: 13px;
      margin: 15px 10px;
      padding: 8px 0 0 8px;
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px;
    }

    .minutes {
      width: 66px;
      height: 26px;
      background-color: #131414;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    @media only screen and (max-width: 600px) {
      width: 95vw;
      height: 95vw;
      background-repeat: no-repeat;
      background-size: contain;

      .top {
        margin-top: -24px;
      }

      .title {
        font-size: 24px;
        width: 75%;
      }

      .subtitle {
        font-size: 16px;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    grid-template-columns: none;
    row-gap: 48px;
  }
}
