.featured-blog-wrapper {
  height: 480px;
  width: 1128px;
  margin: 60px auto;
  position: relative;

  .background {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(/images/binary.svg);
    background-size: 756px 260px;
    background-repeat: no-repeat;
    background-position: right bottom;
    opacity: 0.6
  }

  .featured-blog {
    height: 360px;
    width: 1032px;
    position: absolute;
    top: 40px;
    background: rgb(203,31,31);
    background: linear-gradient(90deg, rgba(203,31,31,1) 0%, rgba(121,9,29,1) 51%, rgba(0,0,0,1) 100%);

    .title {
      max-width: 952px;
      display:inline-block;
      overflow: hidden;
      min-height: 80px;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 52px;
      font-family: 'Jagerlay', serif;
      line-height: 80px;
      position: absolute;
      top: -40px;
      left: 20px;
      padding: 0 20px;
      background-color: black;
      color: white;
    }

    .subtitle {
      max-width: 568px;
      font-size: 24px;
      font-family: 'Jagerlay', serif;
      position: absolute;
      top: 100px;
      left: 20px;
      padding: 5px;
      background-color: black;
      color: white;
    }

    .time {
      position: absolute;
      bottom: 20px;
      left: 20px;
      background: #000000;
      color: #FFFFFF;
      padding: 5px;
      font-size: 12px;

      span {
        vertical-align: top;
        padding-right: 5px;
      }
    }

    .button {
      position: absolute;
      right: 20px;
      bottom: 20px;
      border: 1px solid #FFFFFF;
    }
  }
}
.blog-grid {
  width: 1128px;
  margin: 40px auto;


  .card {
    display: inline-block;
    margin-right: 19px;
    margin-bottom: 19px;
    width: 360px;
    height: 379px;

    .banner {
      height: 305px;
      padding: 10px;
      width: 340px;
      background: rgb(0,0,0);
      background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(203,31,31,1) 100%);

      span {
        display: table-cell;
        height: 305px;
        vertical-align: bottom;
        font-family: 'DM Sans', serif;
        font-size: 20px;
        color: #FFFFFF;
      }
    }
    .info {
      position: relative;
      .topic {
        text-transform: uppercase;
        font-family: "Supply", serif;
        font-size: 9px;
        position: absolute;
        top: 22px;
        left: 0;
        color: red;
      }

      .time {
        position: absolute;
        top: 22px;
        right: 0;
        font-size: 12px;

        span {
          vertical-align: top;
          padding-right: 5px;
          text-decoration: none;
          color: #000000;
        }
      }
    }
  }
  .card:nth-child(3n) {
    margin-right: 0;
  }

}
