.values-body-wrapper {
  margin-top: 24px;
  display: flex;
  position: relative;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    margin-right: 16px;
    margin-left: 16px;
  }

  &.dark {
    color: #FFFFFF;
  }

  .img-description {
    color: white;
    width: 293px;
    height: 158px;
    position: absolute;
    top: 70px;

    &.padding-1 {
      left: 24px;

      @media only screen and (max-width: 600px) {
        left: 24px;
        top: 85px;
      }
    }

    &.padding-2 {
      left: 408px;

      @media only screen and (max-width: 600px) {
        left: 24px;
        top: 329px;
      }
    }

    &.padding-3 {
      left: 792px;

      @media only screen and (max-width: 600px) {
        left: 24px;
        top: 573px;
      }
    }

    .img-description-header {
      background: #131414;
      width: fit-content;
      text-align: center;
      height: 30px;
      font-size: 24px;
      padding: 0px 19px;
      font-family: Jagerlay, 'serif';
      font-weight: 500;

    }

    .img-description-subheader {
      background: #131414;
      width: fit-content;
      margin-top: 22px;
      height: 11px;
      font-size: 9px;
      padding-left: 8px;
      padding-right: 7px;
      font-family: Supply, 'serif';
      font-weight: 700;
    }

    .img-description-content {
      background: #131414;
      margin-top: 4px;
      height: 80px;
      font-size: 13px;
      padding-left: 8px;
      font-family: Telegraf, serif;
      font-weight: 400;
    }
  }

  .values-img {
    width: 360px;
    height: 228px;
    margin-left: 12px;
    margin-right: 12px;

    @media only screen and (max-width: 600px) {
      margin-right: 16px;
      margin-left: 16px;
      margin-top: 16px;
    }
  }

  .section-grid {
    display: grid;
    gap: 33px 72px;
    grid-template-columns: 176px 176px 176px 176px;
    grid-template-rows: 93px 93px;
    padding-top: 34px;
    padding-left: 90px;

    @media only screen and (max-width: 600px){
      gap: 16px 16px;
      grid-template-columns: 50% 50%;
      grid-template-rows: 105px 105px 105px 105px;
      padding-top: 0px;
      padding-left: 16px;
    }

    &.item-1 {
      grid-column: 1;
    }

    &.item-2 {
      grid-column: 2;
    }

    &.item-3 {
      grid-column: 3;

      @media only screen and (max-width: 600px){
        grid-column: 1;
        grid-row: 2;
      }
    }

    &.item-4 {
      grid-column: 4;

      @media only screen and (max-width: 600px){
        grid-column: 2;
        grid-row: 2;
      }
    }

    &.item-5 {
      grid-column: 1;
      grid-row: 2;

      @media only screen and (max-width: 600px){
        grid-column: 1;
        grid-row: 3;
      }
    }

    &.item-6 {
      grid-column: 2;
      grid-row: 2;

      @media only screen and (max-width: 600px){
        grid-column: 2;
        grid-row: 3;
      }
    }

    &.item-7 {
      grid-column: 3;
      grid-row: 2;

      @media only screen and (max-width: 600px){
        grid-column: 1;
        grid-row: 4;
      }
    }

    &.item-8 {
      grid-column: 4;
      grid-row: 2;

      @media only screen and (max-width: 600px){
        grid-column: 2;
        grid-row: 4;
      }
    }


    .grid-icon {
      height: 25px;
      margin-bottom: 4px;
    }
  }

  .career-list-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 53px;
    width: max-content;

    .career-section-wrapper {
      padding-bottom: 16px;
      width: inherit;

      .career-list-header {
        font-family: Supply;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        padding-bottom: 16px;
      }

      .job-info {
        padding-bottom: 16px;

        .job-title {
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          text-transform: capitalize;
          color: #FC0000;
        }

        .job-location {
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: #3D3D3D;
        }
      }
    }
  }

  .career-list-partner {
    display: flex;
    flex-grow: 1;
    margin-left: 163px;
    width: 730px;
    height: 575px;
    align-self: center;
    position: relative;

    @media only screen and (max-width: 600px) {
      position: inherit;
      max-width: fit-content;
      margin-left: 0;
      min-width: 238px;
      max-height: 260px;
    }

    .opportunity-image-1 {
      position: absolute;
      width: 192px;
      height: 406px;

      @media only screen and (max-width: 600px) {
        position: inherit;
        max-width: fit-content;
        min-width: 250px;
        max-height: 260px;
      }
    }

    .non-mobile {
      @media only screen and (max-width: 600px) {
        display: none;
      }
    }
  }
}

.tips-header {
  font-family: 'Jagerlay';
  font-size: 32px;
  text-align: center;
  font-weight: 500;

  @media only screen and (max-width: 600px) {
    width: fit-content;
    align-self: center;
  }
}

.tip {
  padding: 0 170px;

  @media only screen and (max-width: 600px) {
    padding-left: 13px;
    padding-right: 13px;
  }

  .quote {
    font-family: 'DM Sans', serif;
    font-size: 14px;
    width: 552px;

    @media only screen and (max-width: 600px) {
      padding: 0px;
      width: 100%;
    }
  }

  .name {
    margin-top: 24px;
    font-size: 18px;
  }

  .role {
    font-size: 14px
  }
}

.mobile-only {
  display: none;

  @media only screen and (max-width: 600px) {
    display: unset;
  }
}

.mobile-tip {
  @media only screen and (max-width: 600px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

}

.mobile-chevron {
  @media only screen and (max-width: 600px) {
    padding-bottom: 50px;
  }
}
