.values-body-wrapper {
  margin-top: 24px;
  display: flex;
  position: relative;

  &.dark {
    color: #FFFFFF;
  }

  .img-description {
    color: white;
    width: 293px;
    height: 158px;
    position: absolute;
    top: 70px;

    .img-description-header {
      background: #131414;
      width: fit-content;
      text-align: center;
      height: 30px;
      font-size: 24px;
      padding: 0px 19px;
      font-family: Jagerlay, 'serif';
      font-weight: 500;
    }

    .img-description-subheader {
      background: #131414;
      width: fit-content;
      margin-top: 22px;
      height: 11px;
      font-size: 9px;
      padding-left: 8px;
      padding-right: 7px;
      font-family: Supply, 'serif';
      font-weight: 700;
    }

    .img-description-content {
      background: #131414;
      margin-top: 4px;
      height: 80px;
      font-size: 13px;
      padding-left: 8px;
      font-family: Telegraf, serif;
      font-weight: 400;
    }
  }

  .values-img {
    width: 360px;
    height: 228px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .section-grid {
    display: grid;
    gap: 33px 72px;
    grid-template-columns: 176px 176px 176px 176px;
    grid-template-rows: 93px 93px;
    padding-top: 34px;
    padding-left: 90px;

    .grid-icon {
      height: 25px;
      margin-bottom: 4px;
    }
  }

  .career-list-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 53px;
    width: max-content;

    .career-section-wrapper {
      padding-bottom: 16px;
      width: inherit;

      .career-list-header {
        font-family: Supply;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        padding-bottom: 16px;
      }

      .job-info {
        padding-bottom: 16px;

        .job-title {
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          text-transform: capitalize;
          color: #FC0000;
        }

        .job-location {
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: #3D3D3D;
        }
      }
    }
  }

  .career-list-partner {
    display: flex;
    flex-grow: 1;
    margin-left: 163px;
    width: 730px;
    height: 575px;
    align-self: center;
    position: relative;
  }
}

.tips-header {
  font-family: 'Jagerlay';
  font-size: 32px;
  text-align: center;
  font-weight: 500;
}

.tip {
  padding: 0 170px;

  .quote {
    font-family: 'DM Sans', serif;
    font-size: 14px;
    width: 552px;
  }

  .name {
    margin-top: 24px;
    font-size: 18px;
  }

  .role {
    font-size: 14px
  }
}
