.speaker-container {
  box-sizing: border-box;
  padding: 0 35px;

  .speaker-list {
    list-style: none;
    padding: 0;

    input[type=radio] {
      display: none;
    }

    // :checked
    input:checked {
      + .tab-label {
        &::after {
          transform: rotate(90deg);
        }
      }
      ~ .tab-content {
        max-height: 100vh;
      }
    }

    .tab {
      width: 100%;
      color: white;
      overflow: hidden;
      font-family: 'Jagerlay', serif;
      font-weight: 500;
      font-size: 18px;
      border-bottom: 1px solid white;

      &-label {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        font-weight: bold;
        cursor: pointer;
        align-items: center;
        /* Icon */
        &::after {
          content: "\002B";
          font-size: 24px;
          text-align: center;
          transition: all .35s;
        }
      }
      &-content {
        max-height: 0;
        padding: 0 1em;
        transition: all .35s;
      }
      &-close {
        display: flex;
        justify-content: flex-end;
        padding: 1em;
        font-size: 0.75em;
        cursor: pointer;
      }
    }

    .tab:last-child {
      color: #FFFFFFA9;
      border-bottom: none;
    }
  }
}

