.speaker-container {
  box-sizing: border-box;
  padding: 0 35px;
  position: relative;

  .speaker-list {
    list-style: none;
    padding: 0;

    input[type=radio] {
      display: none;
    }

    input:checked {
      + .tab-label {
        display: none;
      }

      ~ .tab-content {
        display: inline-block;
      }
    }

    .tab {
      width: 100%;
      color: white;
      overflow: hidden;
      font-family: 'Jagerlay', serif;
      font-weight: 500;
      font-size: 18px;
      border-bottom: 1px solid white;

      &-label {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        font-weight: bold;
        cursor: pointer;
        align-items: center;

        &::after {
          content: "\002B";
          font-size: 24px;
          text-align: center;
          transition: all .35s;
        }

      }

      &-content {
        display: none;
        width: 100%;
        max-height: max-content;
        transition: all .35s;

        .speaker-image-container {
          position: relative;
          padding-top: 24px;
          width: 100%;

          img {
            height: 600px;
            width: 100%;
            object-fit: cover;
          }
        }

        .bio {
          font-family: "DM Sans", sans-serif;
          font-size: 14px;
          font-weight: 400;
          padding: 16px 0 24px 0;
          line-height: 18px;
          text-align: left;
          display: inline-block;

          .bio-name {
            display: none;
          }

          .bio-more {
            display: none;
          }

          p:nth-child(2) {
            display: none;
          }
        }
      }

      &-close {
        display: flex;
        justify-content: flex-end;
        padding: 1em;
        font-size: 0.75em;
        cursor: pointer;
      }
    }

    .tab:first-child {
      .speaker-image-container {
        padding-top: 0;

        .photo-info {
          padding: 16px;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .speaker-container {
    .speaker-list {
      .tab {
        &-content {
          text-align: left;
          padding: 24px 16px;

          .speaker-image-container {
            width: 322px;
            float: left;
            margin-right: 16px;
            padding-top: 0;

            img {
              width: 322px;
              height: auto;
            }
          }

          .bio {
            display: inline;

            .bio-name {
              display: block;
              font-family: Jagerlay, serif;
              font-size: 18px;
              font-weight: 500;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .speaker-container {
    padding: 0 0 0 52px;

    .speaker-list {
      .tab {
        border: none;
        float: left;
        width: 50%;
        height: 358px;

        &-label {
          display: none;
        }

        &-content {
          box-sizing: border-box;
          display: inline-block;
          padding: 16px;
          width: 100%;

          .speaker-image-container {
            height: 322px;
            width: 264px;

            img {
              height: 322px;
              width: 264px;
            }
          }

          .bio {

            .bio-more {
              display: block;
              font-family: 'DM Sans', sans-serif;
              font-weight: bold;
              color: red;
            }

            p:nth-child(2) {
              display: inline;
            }

            p:nth-child(n+3) {
              display: none;
            }
          }
        }
      }

      .tab:hover:not(.no-hover) {

        position: relative;
        overflow: unset;

        .tab-content {
          z-index: 2;
          background-color: #3D3D3D;
          position: absolute;
          box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
          -webkit-box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
          -moz-box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);

          .bio-more {
            display: none;
          }

          .bio {
            p:nth-child(n+3) {
              display: inline;
            }

            p:nth-child(2) {
              display: none;
            }
          }
        }
      }
    }
  }
}

