.speaker-container {
  box-sizing: border-box;
  padding: 0 35px;

  .speaker-list {
    list-style: none;
    padding: 0;

    input[type=radio] {
      display: none;
    }

    input:checked {
      + .tab-label {
        display: none;
      }

      ~ .tab-content {
        max-height: max-content;
      }
    }

    .tab {
      width: 100%;
      color: white;
      overflow: hidden;
      font-family: 'Jagerlay', serif;
      font-weight: 500;
      font-size: 18px;
      border-bottom: 1px solid white;

      &-label {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        font-weight: bold;
        cursor: pointer;
        align-items: center;

        &::after {
          content: "\002B";
          font-size: 24px;
          text-align: center;
          transition: all .35s;
        }

        @media only screen and (min-width: 1440px) {
          display: none;
        }
      }

      &-content {
        max-height: 0;
        transition: all .35s;

        .speaker-image-container {
          position: relative;
          padding-top: 24px;
          max-width: 322px;
          max-height: 322px;
          margin: auto;

          @media only screen and (min-width: 688px) {
            display: inline-block;
          }

          img {
            width: 100%;
          }

          .gradient {
            position: absolute;
            background: linear-gradient(2.54deg, rgba(19, 20, 20, 0.8) 21.1%, rgba(19, 20, 20, 0) 97.9%);
            height: 50%;
            width: 100%;
            bottom: 0;
          }
        }

        .bio-name {

        }

        .bio {
          font-family: "DM Sans", sans-serif;
          font-size: 14px;
          font-weight: 400;
          padding: 16px 0 24px 0;
          line-height: 18px;
          text-align: left;

          .bio-name {
            display: none;
          }

          @media only screen and (min-width: 688px) {
            display: inline-block;
            max-width: 275px;
            margin-left: 16px;
            vertical-align: top;

            .bio-name {
              display: block;
              font-family: Jagerlay, serif;
              font-size: 18px;
              font-weight: 500;
              line-height: 24px;
            }
          }
        }

        @media only screen and (min-width: 688px) {
          text-align: center;
        }

        @media only screen and (min-width: 1440px) {
          max-height: max-content;
        }
      }

      &-close {
        display: flex;
        justify-content: flex-end;
        padding: 1em;
        font-size: 0.75em;
        cursor: pointer;
      }

      @media only screen and (min-width: 1440px) {
        border: none;
      }
    }

    .tab:first-child {
      .speaker-image-container {
        padding-top: 0;
      }
    }

    .tab:last-child {
      color: #FFFFFFA9;
      border-bottom: none;

      .tab-label {
        &::after {
          content: none;
        }
      }
    }
  }
}

