.bp-welcome {
  display: flex;
  margin-left: auto;
  margin-right: auto;

  .hero-image {
    width: 100%;
  }

  .hero-homepage {
    display: flex;
    flex-grow: 1;
    background-color: #F2F2F2;
    height: 550px;

    .text-wrapper {
      margin: auto;

      .sub-text {
        font-family: 'Supply', serif;
        text-transform: uppercase;
        font-size: 12px;
      }

      .main-text {
        font-family: 'Jagerlay', serif;
        font-size: 56px;
        color: #FC0000;
      }
    }

    .slash-wrapper {
      position: relative;

      .slash {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 100;
        height: 550px;
      }
    }

    .clouds {
      position: relative;
      width: 55%;
    }
  }

  .hero-homepage-mobile {
    display: none;
  }

  @media only screen and (max-width: 600px) {
    .hero-homepage {
      display: none;
    }

    .hero-homepage-mobile {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      height: 300px;

      .text-wrapper {
        margin: auto;

        .sub-text {
          font-family: 'Supply', serif;
          text-transform: uppercase;
          font-size: 12px;
        }

        .main-text {
          font-family: 'Jagerlay', serif;
          font-size: 40px;
          color: #FC0000;
        }

      }

      .black-slash-wrapper {
        position: relative;

        .black-slash {
          position: absolute;
          width: 100%;
        }
      }
    }
  }
}

.transform-text {
  font-family: 'Jagerlay', serif;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto 72px;

  @media only screen and (max-width: 600px) {
    padding: 100px 95px 100px;
    background: #131414;
    color: #F2F2F2;
  }

  @media only screen and (max-width: 400px) {
    padding: 56px 84px 100px;
  }
}

.content {
  position: relative;
  margin: auto auto 90px auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 48px;
  column-gap: 24px;
  grid-template-areas:
    "main1 body1"
    "body2 main2"
    "main3 body3";

  .image-1 {
    grid-area: main1;
  }

  .body-1 {
    grid-area: body1;
  }

  .image-2 {
    grid-area: main2;
  }

  .body-2 {
    grid-area: body2;
  }

  .image-3 {
    grid-area: main3;
  }

  .body-3 {
    grid-area: body3;
  }

  @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    column-gap: 0;

    .image-1 {
      display: none;
    }

    .body-1 {
      grid-area: main1;
    }

    .image-2 {
      display: none;
    }

    .body-2 {
      grid-area: body2;
    }

    .image-3 {
      display: none;
    }

    .body-3 {
      grid-area: main3;
    }
  }
}

.image-container {
  display: flex;
  justify-content: center;

  .image {
    height: 400px;
  }

  @media only screen and (max-width: 1400px) {
    margin-top: 32px;

    .image {
      width: 95%;
    }
  }
}
