@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400&family=DM+Sans&display=swap');

@font-face {
  font-family: Jagerlay;
  // f off intellij
  font-weight: 400;
  src: url('/fonts/Jagerlay-Regular.woff2');
}

@font-face {
  font-family: Jagerlay;
  font-weight: 500 700;
  src: url('/fonts/Jagerlay-Medium.otf') format('opentype');
}

@font-face {
  font-family: Supply;
  font-weight: 200;
  src: url('/fonts/Supply-Ultra-Light.otf') formate('opentype');
}

@font-face {
  font-family: Supply;
  font-weight: 300;
  src: url('/fonts/Supply-Light.otf') formate('opentype');
}

@font-face {
  font-family: Supply;
  font-weight: 400;
  src: url('/fonts/Supply-Regular.woff2');
}

@font-face {
  font-family: Supply;
  font-weight: 500 600;
  src: url('/fonts/Supply-Medium.otf') format('opentype');
}

@font-face {
  font-family: Supply;
  font-weight: 700;
  src: url('/fonts/Supply-Bold.ttf') formate('truetype');
}

@font-face {
  font-family: Telegraf;
  font-weight: 200;
  src: url('/fonts/Telegraf-Ultra-Light.otf') format('opentype');
}

@font-face {
  font-family: Telegraf;
  font-weight: normal;
  src: url('/fonts/Telegraf-Regular.ttf') format("truetype");
}

@font-face {
  font-family: Telegraf;
  font-weight: 800;
  src: url('/fonts/Telegraf-Ultra-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'DM Sans';
  font-weight: 400;
  src: url('/fonts/DMSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-weight: 500 600;
  src: url('/fonts/DMSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-weight: 700;
  src: url('/fonts/DMSans-Bold.ttf') format('truetype');
}

.apos-admin-bar-spacer {
  margin-bottom: 0 !important;
}

// Use flex to keep the footer at the bottom.
body,
[data-apos-refreshable],
.bp-wrapper {
  display: flex;
  flex-direction: column;

  &.display-after-loading-screen {
    display: none;
  }
}

[data-apos-refreshable],
.bp-wrapper,
main {
  flex-grow: 1;
}

body {
  min-height: 100vh;
  // Nice system fonts.
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.bp-header,
.prodacity-banner,
main,
.bp-footer__wrapper {
  width: 100%;
  min-width: 380px;

  &.fill {
    background-color: #F2F2F2;
  }
}

.bp-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  box-shadow: 0 2px 4px #00000066;
  position: fixed;
  z-index: 1000;

  &.add-margin {
    margin-bottom: 40px;
  }

  .logo {
    height: 16px;
    margin-left: 43px;
  }

  nav {
    display: flex;
    height: 100%;

    .nav-list {
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        align-items: center;
        height: 100%;
        width: max-content;
        padding: 0 20px;
        box-sizing: border-box;
        border-bottom: 3px solid transparent;

        img {
          height: 15px;
          width: 15px;
        }
      }

      .true, li:hover {
        border-bottom: 3px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(90deg, #800031 0%, #FC0000 100%);
      }
    }

    .mobile-nav-bar {
      display: none;
    }

    @media only screen and (max-width: 600px) {
      .nav-list {
        display: none;
      }

      .mobile-nav-bar {
        display: flex;
        align-items: center;
        height: 100%;
        width: 150px;
        justify-content: space-between;
        margin-right: 16px;

        .nav-link {
          height: 100%;
          flex-grow: 1;
        }

        .hamburger-menu {
          height: 16px;
          width: 24px;
        }

        .mobile-nav-menu {
          display: none;

          &.active {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            height: 100vh;
            width: 100%;
            background: #FFFFFF;
            z-index: 9999;
          }

          .close {
            height: 16px;
            width: 16px;
            padding: 20px;
            align-self: end;
          }

          .mobile-nav-list {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 128px 0;
            row-gap: 16px;

            li {
              display: flex;
              justify-content: center;
              height: 58px;

              a {
                justify-content: center;
              }

              img {
                align-self: center;
              }
            }
          }

          .social {
            display: flex;
            justify-content: space-evenly;
            flex-grow: 1;
            width: 100%;
            margin: 0 auto;
            padding: 0;

            li {
              display: inline-block;

              img {
                height: 32px;
                width: 32px;
                padding: 8px;
              }
            }

            li:last-child {
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}

.prodacity-banner {
  height: 48px;
  background-color: #131414;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  .prodacity-banner-logo-mobile {
    display: none;
  }

  .date-text {
    font-family: Supply, serif;
    font-size: 12px;
    color: #F2F2F2;
    text-transform: uppercase;
  }

  .date-text-mobile {
    display: none;
  }

  img {
    margin: 0 32px;
  }

  @media only screen and (max-width: 600px) {
    height: 226px;
    flex-direction: column;
    justify-content: space-evenly;

    .prodacity-banner-logo {
      display: none;
    }

    .prodacity-banner-logo-mobile {
      display: unset;
    }

    .date-text {
      display: none;
    }

    .date-text-mobile {
      display: unset;
      font-family: Supply, serif;
      font-size: 12px;
      color: #F2F2F2;
      text-transform: uppercase;
    }
  }
}

.bp-footer {
  padding: 0 0 40px 0;
  max-width: 932px;
  margin: auto;

  .impact-wrapper {
    height: max-content;
    display: flex;
    padding: 40px 0 64px;
    position: relative;

    .background-img {
      position: absolute;
    }

    .background-img-mobile {
      display: none;
    }

    .impact {
      font-family: 'Jagerlay', serif;
      font-size: 36px;
      display: flex;
      width: 750px;
      margin: 54px auto;
      justify-content: space-between;
      z-index: 1;

      .footer-text {
        width: 360px
      }

      .button-wrapper {
        display: grid;
        width: max-content;

        custom-button:last-child {
          margin-top: 15px;
        }
      }
    }
  }

  .info-wrapper {
    display: flex;
    justify-content: space-between;

    .info {
      font-family: 'Bitter', serif;
      font-family: 'DM Sans', sans-serif;

      div {
        margin-bottom: 21px;
      }

      div:last-child {
        margin-bottom: 0;
      }

      .logo {
        width: 72px;
        height: 16px;
        margin-bottom: 24px;
      }
    }

    .links-wrapper {
      display: flex;

      .links {
        margin: 0;
        list-style: none;
        font-family: 'Jagerlay', serif;
        font-size: 30px;
        font-weight: 400;

        li {
          display: block;

          a {
            color: #000000;
          }
        }
      }

      .social {
        list-style: none;
        margin: 0;
        padding-left: 15px;

        li {
          display: inline-block;
          padding-right: 10px;

          img {
            width: 20px;
          }
        }

        li:last-child {
          padding-right: 0;
        }
      }
    }
  }

  @media only screen and (max-width: 940px) {
    .impact-wrapper {
      .background-img {
        display: none;
      }

      .background-img-mobile {
        display: unset;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
      }

      .impact {
        flex-direction: column;
        align-items: center;
        margin: 40px auto;

        .footer-text {
          width: 212px;
          margin-bottom: 16px;
        }
      }
    }

    .info-wrapper {
      .info {
        margin-left: 100px;
        color: #000000;
        -webkit-text-fill-color: #000000;
      }

      .links-wrapper {
        display: none;
      }
    }
  }
}

.bp-header__logo {
  display: block;
  width: 190px;
  max-width: 100%;
  object-fit: contain;
}

.bp-header__login {

  &:visited {
    color: white;
  }
}

.bp-content {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
