.loader-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: absolute;
  background-image: linear-gradient(#800031, #FC0000);
  z-index: 999;

  &.loaded {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s linear;
  }

  .loader-container {
    position: relative;
    width: 25%;
    height: 100%;
    margin: 0 auto;
  }

  .loader {
    position: relative;
    height: 225px;

    &.left {
      width: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -100px;
      margin: auto 0;

      -webkit-animation: slide-right 1s ease-in-out 1 forwards; /* Chrome, Opera 15+, Safari 5+ */
      animation: slide-right 1s ease-in-out 1 forwards; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    &.right {
      width: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 16px;
      margin: auto 0;

      -webkit-animation: slide-left 1s ease-in-out 1 forwards; /* Chrome, Opera 15+, Safari 5+ */
      animation: slide-left 1s ease-in-out 1 forwards; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    img {
      height: inherit;
    }

    @-webkit-keyframes slide-right {
      from {
        transform: translateX(0%);
        opacity: 0;
      }

      to {
        transform: translateX(100%);
        opacity: 1;
      }
    }

    @keyframes slide-left {
      from {
        transform: translateX(100%);
        opacity: 0;
      }

      to {
        transform: translateX(0%);
        opacity: 1;
      }
    }
  }
}
