.loader-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: absolute;
  background-image: linear-gradient(#800031, #FC0000);
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;

  &.loaded {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s linear;
  }

  .loader {
    display: block;
    position: relative;
    height: 225px;

    &.left {
      margin: -75px 85px 0 0;

      -webkit-animation: slideright 1s ease-in-out 1 forwards; /* Chrome, Opera 15+, Safari 5+ */
      animation: slideright 1s ease-in-out 1 forwards; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    &.right {
      margin: -75px 115px 0 0;

      -webkit-animation: slideleft 1s ease-in-out 1 forwards; /* Chrome, Opera 15+, Safari 5+ */
      animation: slideleft 1s ease-in-out 1 forwards; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    img {
      height: inherit;
    }

    @-webkit-keyframes slideright {
      from {
        transform: translateX(75%);
        opacity: 0;
      }

      to {
        transform: translateX(100%);
        opacity: 1;
      }
    }

    @keyframes slideleft {
      from {
        transform: translateX(25%);
        opacity: 0;
      }

      to {
        transform: translateX(0%);
        opacity: 1;
      }
    }
  }
}
