.hero {
  display: flex;
  background: #F2F2F2;
  height: 370px;
  z-index: -1;

  & .slanted-div {
    position: relative;
    padding: 185px 60px;
    background: #F2F2F2;
    overflow: visible;
  }

  & .slanted-div:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    top: 0;
    transform-origin: right bottom;
    transform: skewX(-8deg);
  }

  & .left {
    padding-left: 150px;

    & .memo {
      color: #FC0000;
      font-family: "Supply", serif;
      font-size: 12px;
      text-transform: uppercase;
      text-align: left;
      padding-top: 50px;
    }

    & .title {
      font-family: "Jagerlay", serif;
      font-weight: bold;
      font-size: 48px;
      text-align: left;
      padding-top: 20px;
      min-width: max-content;
    }

    & .description {
      font-family: "DM Sans", serif;
      font-size: 14px;
      text-align: left;
      padding-top: 20px;
    }
  }

  & .right {
    flex-grow: 1;
    background: #000000;
  }
}

.section-header-wrapper {
  border-left: 12px solid #131414;
  padding-left: 52px;
  margin-bottom: 36px;

  &.dark {
    border-left: 12px solid #FFFFFF;
  }

  .section-subheader {
    font-family: 'Supply', serif;
    text-transform: uppercase;
    font-size: 12px;
    color: #FC0000;
  }

  .section-header {
    font-family: 'Jagerlay', serif;
    font-size: 40px;
    font-weight: 400;
    margin-top: 8px;
  }
}

.section-body-text {
  padding-left: 78px;
  width: 356px;
  font-size: 12px;
  font-family: 'DM Sans', sans-serif;
}

.service-image {
  height: 192px;
  width: 430px;
  background-color: #131414;
}

.service-body {
  .header {
    font-family: 'Jagerlay', serif;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  .icon {
    margin-right: 10px;
  }

  .body {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    color: #3D3D3D;
    width: 360px;
    margin-bottom: 25px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 236px;
  border: 1px solid #131414;
  font-family: 'Bitter', serif;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;

  &.half {
    width: 140px;
  }

  &.mini {
    width: 94px;
    height: 24px;
    font-family: 'Supply', serif;
    font-size: 14px;
    border-bottom: 1px solid #FFFFFF;

    img {
      height: 12px;
      margin-left: 12px;
    }
  }

  img {
    height: 20px;
    margin-left: 12px;
  }
}

.dark {
  background-color: #131414;
  color: #FFFFFF;
}

.light {
  background-color: #FFFFFF;
  color: #131414;
}

.right-justify {
  margin-right: 0;
  margin-left: auto;
}

.standard-top {
  margin-top: 24px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

a:hover {
  text-decoration: none;
}
