.content-section {
  display: flex;
  width: 100%;
  padding: 72px 0 48px 0;

  &.dark {
    background-color: #131414;
  }

  &.grey {
    background-color: #F2F2F2;
  }

  &.red {
    background: linear-gradient(180deg, #800031 0%, #FC0000 100%);
    color: #FFFFFF;
  }

  &.with-8-mark {
    padding-top: 0;

    @media only screen and (max-width: 600px) {
      padding-top: 100px;
    }
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 auto;
    max-width: 1192px;

    &.row {
      flex-direction: row;
      place-content: space-evenly;

      @media only screen and (max-width: 1000px) {
        flex-direction: column;
      }
    }

    &.error {
      width: max-content;
    }

    &.with-8-mark {
      margin-top: 72px;

      @media only screen and (max-width: 600px) {
        margin-top: 0;
      }
    }

    &.privacy {
      max-width: 720px;
    }
  }

  @media only screen and (max-width: 600px) {
    &.light-on-mobile {
      background-color: #FFFFFF;
      color: #000000;
    }

    &.dark-on-mobile {
      background-color: #131414;
      color: #FFFFFF;
    }

    .content-wrapper {
      margin: 0;
    }
  }
}

.link {
  display: flex;
  height: 100%;
  width: max-content;

  .link-text {
    margin: auto;
    font-family: 'Supply', serif;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
  }
}

.eight-mark-background {
  flex-grow: 1;
  background-image: url('/images/background-8-mark-light.svg');
  background-repeat: no-repeat;

  &.dark {
    background-image: url('/images/background-8-mark-dark.svg');
  }

  @media only screen and (max-width: 600px) {
    background-image: none;

    &.dark {
      background-image: none;
    }
  }
}

.section-body-wrapper {
  margin: 40px 0 0 66px;

  @media only screen and (max-width: 600px) {
    margin: 0;
    display: flex;
    justify-content: center;
  }
}

.section-body-text {
  padding: 0 32px 0 66px;
  max-width: 480px;
  font-family: 'DM Sans', sans-serif;

  &.large {
    max-width: 720px;

    @media only screen and (max-width: 600px) {
      width: auto;
    }
  }

  @media only screen and (max-width: 600px) {
    padding: 0 16px 0 30px;
  }
}

.service-image {
  object-fit: cover;
  height: 220px;
  width: 100%;
}

.service-body {
  display: flex;
  flex-direction: column;

  .header {
    font-family: 'Jagerlay', serif;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  .icon {
    margin-right: 10px;
  }

  .body {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    color: #3D3D3D;
    max-width: 360px;
    margin-bottom: 25px;
  }

  @media only screen and (max-width: 600px) {
    align-items: center;

    custom-button {
      width: 158px;
    }

    .header {
      max-width: 320px;
    }
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  max-width: 236px;
  min-width: fit-content;
  border: 1px solid #131414;
  font-family: 'Bitter', serif;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;

  &.half {
    width: 140px;
  }

  &.mini {
    width: 94px;
    height: 24px;
    font-size: 14px;
    border-bottom: 1px solid #FFFFFF;

    img {
      height: 12px;
      margin-left: 12px;
    }

    .button-text {
      margin-left: 0;
    }
  }

  img {
    height: 20px;
    margin: 0 8px 0 12px;
  }

  .button-text {
    margin-left: 8px;
  }
}

.gradient {
  background-image: linear-gradient(#800031, #FC0000);
  border: none;
  color: #131414;

  .button-text {
    color: #131414;
  }
}

.dark {
  background-color: #131414;
  color: #FFFFFF;

  .button-text {
    color: #FFFFFF;
  }
}

.light {
  background-color: #FFFFFF;
  color: #131414;

  .button-text {
    color: #131414;
  }
}

.standard-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;

  @media only screen and (max-width: 600px) {
    justify-content: center;
  }
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

a:hover {
  text-decoration: none;
}

.hidden {
  display: none;
}

.list-wrapper {
  display: flex;

  .list-options-wrapper {
    padding-right: 120px;
    width: 116px;
    overflow: visible;
    list-style: none;

    .list-option {
      transition: .5s ease;
      font-family: 'Jagerlay', serif;
      font-weight: 500;
      margin-bottom: 40px;
      padding-top: 4px;
      font-size: 20px;
      line-height: 25px;
      color: #838484;
      border-top: 2px solid transparent;
      cursor: pointer;

      &.hidden {
        display: none;
      }
    }

    .list-option.active {
      color: #FC0000;
      border-top: 2px solid #FC0000;
    }
  }

  .list-partner {
    display: flex;
    flex-grow: 1;
  }

  @media only screen and (max-width: 1100px) {
    flex-direction: column;
    margin-right: 66px;

    .list-options-wrapper {
      display: flex;
      align-self: center;
      padding: 0;
      width: 260px;
      justify-content: space-between;

      &.hide-mobile {
        display: none;
      }

      :not(.active) {
        display: none;
      }

      .list-option {
        display: none;
      }

      .list-option.active {
        display: block;
        color: #FC0000;
        border-top: none;
        padding-top: 10px;
      }
    }

    .list-partner {
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 600px) {
    margin-right: 0;
  }
}

.chevron {
  width: 20px;
  height: 50px;
  margin-right: 20px;

  &.left {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin: 0 0 0 20px;
  }

  &:hover {
    cursor: pointer;
  }
}

.belief-description {
  display: none;
  position: relative;
  height: 288px;
  width: 533px;
  padding: 0 50px;
  margin-bottom: 50px;
  align-items: center;
  background: #FFFFFF;
  color: #3D3D3D;
  font-family: "DM Sans", serif;
  line-height: 17px;

  &.active {
    display: inline-flex;

    @media only screen and (max-width: 600px) {
      display: inline;
    }
  }

  img {
    @media only screen and (max-width: 600px) {
      display: none;
    }

    &.frame {
      position: absolute;
      height: inherit;
      left: 0;
      top: 0;
    }

    &.pixels {
      position: absolute;
      height: 80%;
      left: 75px;
      top: 100px;
      z-index: -1;
    }
  }

  .belief-header {
    display: none;
  }

  @media only screen and (max-width: 600px) {
    display: inline;
    width: fit-content;
    height: fit-content;
    color: #878787;
    line-height: 256%;
    padding: 32px;
    margin: 0;

    &.odd {
      background-color: #F2F2F2;
    }

    .belief-header {
      display: block;
      color: #3D3D3D;
      font-family: Jagerlay, serif;
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
}

.belief-description:last-child {
  @media only screen and (max-width: 600px) {
    padding: 32px 32px 0 32px;
  }
}

.department-bios-container {
  display: none;
  flex-grow: 1;
  flex-direction: column;

  &.active {
    display: flex;
  }

  .department-photos-wrapper {
    display: flex;
    justify-content: space-between;

    .riser-photo-wrapper {
      position: relative;
      display: flex;
      height: 322px;
      width: 264px;
      justify-content: space-evenly;
      cursor: pointer;

      .riser-photo {
        object-fit: cover;
        height: 322px;
        width: 264px;
        filter: grayscale(100%);
        transition: .5s ease;

        &:hover, &.active {
          filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
        }
      }

      .chevron-wrapper {
        display: none;

        @media only screen and (max-width: 920px) {
          display: flex;
          position: absolute;
          bottom: 50%;
          width: 100%;

          .photo-chevrons {
            display: flex;
            width: 100%;
            justify-content: space-between;
          }
        }
      }

      .photo-hover {
        transition: .5s ease;
        pointer-events: none;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: "DM Sans", serif;
        color: #F2F2F2
      }

      &:hover .photo-hover {
        opacity: 1;
      }

      .photo-info {
        position: absolute;
        bottom: 16px;
        left: 16px;
        color: #F2F2F2;
        font-family: Telegraf, serif;
        font-size: 14px;
      }

      @media only screen and (max-width: 920px) {
        height: fit-content;
        width: 60%;
        margin: auto;

        .riser-photo {
          margin: 0 auto;
          height: max-content;
          width: 100%;

          &:hover, &.active {
            filter: none;
          }
        }

        &:not(.active) {
          display: none;
        }

        .photo-info {
          max-width: 240px;
        }
      }

      @media only screen and (max-width: 600px) {
        width: 100%;
        margin: 0;
      }
    }
  }

  .department-bios-wrapper {
    display: flex;
    margin-top: 32px;

    .riser-bio-wrapper {
      display: none;
      flex-grow: 1;
      flex-direction: column;

      &.active {
        display: flex;
      }

      .riser-bio-header {
        flex-grow: 1;

        .bio-name {
          font-family: "Jagerlay", serif;
          font-size: 24px;
          line-height: 30px;
        }

        .bio-role {
          font-family: Telegraf, serif;
          font-weight: 400;
          font-size: 14px;
          color: #131414;

          &.light {
            color: #000000;
          }
        }

        @media only screen and (max-width: 920px) {
          display: none;
        }
      }

      .riser-bio {
        display: flex;
        flex-grow: 1;
        margin-top: 16px;
        column-gap: 16px;

        .bio-bio {
          width: 70%;
          font-family: "DM Sans", serif;
          font-size: 14px;
        }

        .bio-quote {
          display: flex;
          flex-direction: column;
          align-items: end;
          width: 30%;

          .riser-quote-name {
            padding: 4px 0 4px 8px;
            border-top: 1px solid #3D3D3D;
            color: #3D3D3D;
            font-family: Telegraf, serif;
            font-size: 14px;
            font-weight: 800;

            &.light {
              border-top: 1px solid #000000;
              color: #000000;
            }
          }

          .riser-quote {
            color: #3D3D3D;
            font-family: "DM Sans", serif;
            font-size: 12px;
            text-align: end;

            &.light {
              color: #000000;
            }
          }

          @media only screen and (max-width: 920px) {
            display: none;
          }
        }

        @media only screen and (max-width: 920px) {
          margin: 0 32px;
          justify-content: center;

          .bio-bio {
            width: 100%;
          }
        }
      }
    }
  }
}

.section-header-wrapper {
  border-left: 12px solid #131414;
  padding-left: 52px;
  margin-bottom: 36px;

  &.dark-border {
    border-left: 12px solid #FFFFFF;

    @media only screen and (max-width: 600px) {
      border: none;
    }
  }

  &.error-border {
    border-left: none;
    padding: 0;
  }

  .section-subheader {
    font-family: 'Supply', serif;
    text-transform: uppercase;
    font-size: 12px;
    color: #FC0000;

    &.secondary-sub {
      color: #FFFFFF;
    }
  }

  .section-header {
    max-width: max-content;
    font-family: 'Jagerlay', serif;
    font-size: 40px;
    font-weight: 400;
    margin: 8px 0;

    &.secondary-main {
      color: #FC0000;
    }
  }

  @media only screen and (max-width: 600px) {
    padding-left: 16px;
    border: none;
  }
}

.who-we-serve-wrapper {
  margin-top: 32px;
}

.service-logo-wrapper {
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 720px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 48px;
    column-gap: 24px;
    justify-items: center;
    margin-right: 10%;
  }
}

.image-grayscale {
  filter: grayscale(1);

  &:hover {
    filter: none;
  }
}

.telegraf {
  font-family: Telegraf, serif;
  font-weight: 400;

  &.bold {
    font-weight: 800;
  }
}

.show-on-mobile {
  display: none;

  @media only screen and (max-width: 1100px) {
    display: block;
  }
}

.image-container {
  display: flex;
  justify-content: center;

  .image {
    max-height: 400px;

    &.mobile {
      display: none;
    }
  }

  @media only screen and (max-width: 1400px) {
    margin-top: 32px;

    .image {
      height: 95%;
    }
  }

  @media only screen and (max-width: 600px) {
    .image {
      max-height: fit-content;
      width: 100%;
      filter: grayscale(1);

      &.desktop {
        display: none;
      }

      &.mobile {
        display: block;
      }
    }
  }
}
