.hero {
  display: flex;
  background: #F2F2F2;
  height: 370px;
  z-index: -1;

  & .slanted-div {
    position: relative;
    padding: 185px 60px;
    background: #F2F2F2;
    overflow: visible;
  }

  & .slanted-div:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    top: 0;
    transform-origin: right bottom;
    transform: skewX(-8deg);
  }

  & .left {
    padding-left: 150px;

    &.center {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    & .memo {
      color: #FC0000;
      font-family: "Supply", serif;
      font-size: 12px;
      text-transform: uppercase;
      text-align: left;
      padding-top: 50px;

      &.center {
        padding: 0;
      }
    }

    & .title {
      font-family: "Jagerlay", serif;
      font-weight: bold;
      font-size: 48px;
      text-align: left;
      padding-top: 20px;
      min-width: max-content;
    }

    & .description {
      font-family: "DM Sans", serif;
      font-size: 14px;
      text-align: left;
      padding-top: 20px;
    }
  }

  & .right {
    flex-grow: 1;
    background: #000000;
  }
}

.section-header-wrapper {
  border-left: 12px solid #131414;
  padding-left: 52px;
  margin-bottom: 36px;

  &.dark {
    border-left: 12px solid #FFFFFF;
  }

  &.error {
    border-left: none;
    padding: 0;
  }

  .section-subheader {
    font-family: 'Supply', serif;
    text-transform: uppercase;
    font-size: 12px;
    color: #FC0000;
  }

  .section-header {
    font-family: 'Jagerlay', serif;
    font-size: 40px;
    font-weight: 400;
    margin-top: 8px;
  }
}

.section-body-wrapper {
  margin: 40px 0 0 66px;
  display: flex;
}

.section-body-text {
  padding-left: 78px;
  width: 356px;
  font-size: 12px;
  font-family: 'DM Sans', sans-serif;
}

.service-image {
  height: 192px;
  width: 430px;
  background-color: #131414;
}

.service-body {
  .header {
    font-family: 'Jagerlay', serif;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  .icon {
    margin-right: 10px;
  }

  .body {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    color: #3D3D3D;
    width: 360px;
    margin-bottom: 25px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 236px;
  border: 1px solid #131414;
  font-family: 'Bitter', serif;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;

  &.half {
    width: 140px;
  }

  &.mini {
    width: 94px;
    height: 24px;
    font-family: 'Supply', serif;
    font-size: 14px;
    border-bottom: 1px solid #FFFFFF;

    img {
      height: 12px;
      margin-left: 12px;
    }
  }

  img {
    height: 20px;
    margin-left: 12px;
  }
}

.dark {
  background-color: #131414;
  color: #FFFFFF;
}

.light {
  background-color: #FFFFFF;
  color: #131414;
}

.right-justify {
  display: flex;
  justify-content: flex-end;
}

.standard-top {
  margin-top: 24px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

a:hover {
  text-decoration: none;
}

.list-wrapper {
  padding: 0 120px 0 0;
  width: 116px;
  overflow: visible;
  list-style: none;

  & .list-option {
    transition: .5s ease;
    font-family: 'Jagerlay', serif;
    margin-bottom: 40px;
    padding-top: 4px;
    font-size: 20px;
    line-height: 25px;
    color: #838484;
    border-top: 2px solid transparent;
    cursor: pointer;
  }

  & .list-option.active {
    color: #FC0000;
    border-top: 2px solid #FC0000;
  }
}

.list-partner {
  display: flex;
  flex-grow: 1;
}

.belief-description {
  display: none;
  position: relative;
  height: 280px;
  width: calc(100% - 70px);
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  color: #3D3D3D;
  font-family: "DM Sans", serif;
  line-height: 17px;

  &.active {
    display: inline-flex;
  }

  & .frame {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
  }

  & .pixels {
    position: absolute;
    height: 100%;
    left: 50px;
    top: 50px;
    z-index: -1;
  }
}

.department-bios-container {
  display: none;
  flex-grow: 1;
  flex-direction: column;

  &.active {
    display: flex;
  }

  & .department-photos-wrapper {
    display: flex;
    justify-content: space-between;

    & .riser-photo-wrapper {
      position: relative;
      height: 322px;
      width: 264px;
      justify-content: end;
      cursor: pointer;

      & .riser-photo {
        object-fit: cover;
        height: 322px;
        width: 264px;
        filter: grayscale(100%);
        transition: .5s ease;

        &:hover, &.active {
          filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
        }
      }

      & .photo-hover {
        transition: .5s ease;
        pointer-events: none;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: "DM Sans", serif;
        font-weight: 800;
      }

      &:hover .photo-hover {
        opacity: 1;
      }

      & .photo-info {
        position: absolute;
        bottom: 16px;
        left: 16px;

        & .photo-name {
          font-family: "DM Sans", serif;
          font-size: 14px;
          font-weight: 800;
        }

        & .photo-role {
          font-family: "DM Sans", serif;
          font-size: 14px;
        }
      }
    }
  }

  & .department-bios-wrapper {
    display: flex;
    margin-top: 32px;

    & .riser-bio-wrapper {
      display: none;
      flex-grow: 1;
      flex-direction: column;

      &.active {
        display: flex;
      }

      & .riser-bio-header {
        flex-grow: 1;

        & .bio-name {
          font-family: "Jagerlay", serif;
          font-weight: 500;
          font-size: 24px;
          line-height: 30px;
        }

        & .bio-role {
          font-family: "DM Sans", serif;
          font-size: 14px;
          color: #F2F2F2;
        }
      }

      & .riser-bio {
        display: flex;
        flex-grow: 1;
        margin-top: 16px;

        & .bio-bio {
          width: 70%;
          font-family: "DM Sans", serif;
          font-size: 14px;
        }

        & .bio-quote {
          display: flex;
          flex-direction: column;
          align-items: end;
          width: 30%;

          & .riser-quote-name {
            padding: 4px 0 4px 8px;
            border-top: 1px solid #F2F2F2;
            color: #F2F2F2;
            font-family: "DM Sans", serif;
            font-size: 14px;
            font-weight: 800;
          }

          & .riser-quote {
            color: #F2F2F2;
            font-family: "DM Sans", serif;
            font-size: 12px;
          }
        }
      }
    }
  }
}
