.bp-video-widget {
  width: 100%;
}

.bp-image-widget {
  max-width: 100%;
}

.hero {
  display: flex;
  background: #F2F2F2;
  height: 370px;
  z-index: -1;

  & .slanted-div {
    position: relative;
    padding: 185px 60px;
    background: #F2F2F2;
    overflow: visible;
  }

  & .slanted-div:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    top: 0;
    transform-origin: right bottom;
    transform: skewX(-8deg);
  }

  & .left {
    padding-left: 150px;

    & .memo {
      color: #FC0000;
      font-family: "Supply", serif;
      font-size: 12px;
      text-transform: uppercase;
      text-align: left;
      padding-top: 50px;
    }

    & .title {
      font-family: "Jagerlay", serif;
      font-weight: bold;
      font-size: 48px;
      text-align: left;
      padding-top: 20px;
      min-width: max-content;
    }

    & .description {
      font-family: "DM Sans", serif;
      font-size: 14px;
      text-align: left;
      padding-top: 20px;
    }
  }

  & .right {
    flex-grow: 1;
    background: #000000;
  }
}

.section-header {
  display: flex;
  width: 100%;

  & .slanted-div {
    position: relative;
    padding: 39px 5px;
    margin-right: 60px;
    overflow: visible;
  }

  & .slanted-div:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #F2F2F2;
    top: 0;
    transform-origin: left bottom;
    transform: skewX(-8deg);
  }

  & .memo {
    color: #FC0000;
    font-family: "Supply", serif;
    font-size: 12px;
    text-transform: uppercase;
  }

  & .title {
    font-family: "Jagerlay", serif;
    font-size: 40px;
    line-height: 64px;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 550px;
  font-family: "DM Sans", serif;

  & .field {
    margin-top: 14px;

    & .title {
      display: flex;
      margin-bottom: 2px;

      & .required {
        color: #FC0000;
      }
    }

    & .input {
      border: 1px solid #C4C4C4;
      border-radius: 0;
      width: 100%;
    }
  }

  & .contact-options {
    display: flex;
    margin-top: 24px;
    margin-bottom: 32px;
    column-gap: 40px
  }

  & .option {
    display: flex;
    align-items: center;
    column-gap: 8px;

    input[type="radio"] {
      appearance: none;
      margin: 0;
      width: 36px;
      height: 36px;
      border: 4px solid;
      display: grid;
      place-content: center;
    }

    input[type="radio"]::before {
      content: "";
      width: 20px;
      height: 20px;
      background: #000000;
      transform: scale(0);
      transition: 60ms transform ease-in-out;
    }

    input[type="radio"]:checked::before {
      transform: scale(1);
    }
  }

  & .submit-button {
    background: #E5E5E5;
    border: 1px solid;
    border-image:  linear-gradient(to right, #800031, #FC0000) 1;
    width: fit-content;
    padding: 8px 16px;
  }
}
