{% extends "layout.html" %}

{% block main %}
{% set imgObj = apos.image.first(data.page.heroImage) %}
<hero-header title="Your Inquiries.<br>Our Insights." memo="Together, we rise."
             description="Got an idea? Gnarly problem? Just saying hello?"
             image="{{ apos.attachment.url(imgObj) }}"></hero-header>
<div class="content-section">
  <div class="content-wrapper">
    <section-header header="Contact Us"
                    subheader="Whatever it is, we'd love to help you succeed"></section-header>
    <form class="contact-form" style="margin-left: 60px; margin-top: 20px"
          action="mailto:info@rise8.us?&subject=Contact from Rise8 Website" method="post"
          enctype="text/plain">
      <div class="field">
        <div class="title">
          <label for="name">
            Name
          </label>
          <div class="required">*</div>
        </div>
        <input class="input" type="text" id="name" name="name" required/>
      </div>
      <div class="field">
        <div class="title">
          <label for="email">
            Email
          </label>
          <div class="required">*</div>
        </div>
        <input class="input" type="text" id="email" name="email" required/>
      </div>
      <div class="field">
        <div class="title">
          <label for="phone">
            Phone
          </label>
          <div class="required">*</div>
        </div>
        <input class="input" type="text" id="phone" name="phone" required/>
      </div>
      <div class="field">
        <div class="title">
          <label for="message">
            Message
          </label>
          <div class="required">*</div>
        </div>
        <textarea class="input" id="message" name="message" rows="8" style="resize: none"
                  required></textarea>
      </div>
      <div style="margin-top: 32px">How would you prefer us to contact you?</div>
      <div class="contact-options">
        <div class="option">
          <input type="radio" name="contact-preference" id="email-option" value="email" checked/>
          <label for="email-option">Email</label>
        </div>
        <div class="option">
          <input type="radio" name="contact-preference" id="phone-option" value="phone"/>
          <label for="phone-option">Telephone</label>
        </div>
      </div>
      <button class="submit-button" onclick="" type="submit">Submit ></button>
    </form>
  </div>
</div>
{% endblock %}
