{% extends "layout.html" %}

{% block main %}
<hero-header title="We Are<br>Rise8" memo="We are your digital transformation partner"
             description="We have strong opinions (loosely held) because game-changing tech isn't
                         possible without an industry-changing mindset. We love what we do, and
                         we're not shy about sharing our unfiltered thoughts on all of it."></hero-header>
<div class="content-section">
  <div class="content-wrapper">
    <section-header header="Beliefs in Action"
                    subheader="We talk the talk and walk the walk"></section-header>
    <div class="section-body-wrapper">
      <belief-switch></belief-switch>
    </div>
  </div>
</div>
<div class="content-section dark">
  <div class="content-wrapper">
    <section-header header="Let's Make Some Intros"
                    subheader="Your future teammates"
                    dark-mode></section-header>
    <div class="section-body-wrapper">
      <div class="list-wrapper">
        <div class="list-options-wrapper">
          {% for department in data.departments %}
          {% set active = "" %}
          {% if loop.first %}
          {% set active = "active" %}
          {% endif %}
          <department-switch active="{{ active }}"
                             department="{{ department.title }}"></department-switch>
          {% endfor %}
        </div>
        <div class="list-partner">
          {% for department in data.departments %}
          {% set active = "" %}
          {% set dept = loop.index0 %}
          {% if loop.first %}
          {% set active = "active" %}
          {% endif %}
          <div id="{{ department.title }}-bios-container"
               class="department-bios-container {{ active }}">
            <div class="department-photos-wrapper">
              {% for riser in department._risers %}
              {% if loop.index < 4 %}
              {% set active = "" %}
              {% if loop.first %}
              {% set active = "active" %}
              {% endif %}
              {% set imgObj = apos.image.first(riser.photo) %}
              <div class="riser-photo-wrapper">
                <bio-switch image-url="{{ apos.attachment.url(imgObj) }}"
                            department="{{ department.title }}"
                            index="{{ loop.index0 }}"
                            active="{{ active }}"></bio-switch>
                <div class="photo-hover">Read Bio</div>
                <div class="photo-info">
                  <div style="font-weight: 800">{{ riser.title }}</div>
                  <div>{{ riser.role }}</div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
            <div id="{{ department.title }}-bios" class="department-bios-wrapper {{ active }}">
              {% for riser in department._risers %}
              {% if loop.index < 4 %}
              {% set active = "" %}
              {% if loop.first %}
              {% set active = "active" %}
              {% endif %}
              <div id="{{ department.title }}-bio-{{ loop.index0 }}"
                   class="riser-bio-wrapper {{ active }}">
                <div class="riser-bio-header">
                  <div class="bio-name">{{ riser.title }}</div>
                  <div class="bio-role">{{ riser.role }}</div>
                </div>
                <div id="bio" class="riser-bio">
                  <div class="bio-bio">{{ riser.bio }}</div>
                  <div class="bio-quote">
                    <div class="riser-quote-name">
                      {{ riser.title.split(' ')[0] }}'s View
                    </div>
                    <div id="quote" class="riser-quote">
                      "{{ riser.quote }}"
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<section class="content-section">
  <div class="content-wrapper">
    <blog-preview
        blog1='{ "title": "{{ data.blogs[0].title }}",
        "subtitle": "{{ data.blogs[0].subtitle }}",
        "minutes": "{{ data.blogs[0].minutes }}",
        "url": "{{ data.blogs[0]._url }}" }'
        blog2='{ "title": "{{ data.blogs[1].title }}",
        "subtitle": "{{ data.blogs[1].subtitle }}",
        "minutes": "{{ data.blogs[1].minutes }}",
        "url": "{{ data.blogs[1]._url }}" }'
        blog3='{ "title": "{{ data.blogs[2].title }}",
        "subtitle": "{{ data.blogs[2].subtitle }}",
        "minutes": "{{ data.blogs[2].minutes }}",
        "url": "{{ data.blogs[2]._url }}" }'>>
    </blog-preview>
  </div>
</section>
{% endblock %}
