{% extends "layout.html" %}

{% block main %}
{% set imgObj = apos.image.first(data.page.heroImage) %}
<script>
  function onDepartmentArrowClick(e, left) {
    const departments = document.getElementsByClassName('department');
    const switches = document.getElementsByClassName('department-switch');
    let index = 0;
    for (let i = 0; i < departments.length; i++) {
      if (departments[i].classList.contains('active')) {
        departments[i].classList.remove('active');
        switches[i].classList.remove('active');
        index = i;
        break;
      }
    }

    const departmentBiosContainers = document.getElementsByClassName('department-bios-container');
    for (let i = 0; i < departmentBiosContainers.length; i++) {
      departmentBiosContainers[i].classList.remove('active');
    }
    const bios = document.getElementsByClassName('riser-bio-wrapper');
    for (let i = 0; i < bios.length; i++) {
      bios[i].classList.remove('active');
    }

    let element;
    if (left) {
      if (index === 0) {
        element = departments[departments.length - 1];
        switches[departments.length - 1].classList.add('active');
      } else {
        element = departments[index - 1];
        switches[index - 1].classList.add('active');
      }
    } else {
      if (index === departments.length - 1) {
        element = departments[0];
        switches[0].classList.add('active');
      } else {
        element = departments[index + 1];
        switches[index + 1].classList.add('active');
      }
    }

    element.classList.add('active');
    document.getElementById(`${element.id}-bios-container`).classList.add('active');
    document.getElementById(`${element.id}-photo-0`).classList.add('active');
    document.getElementById(`${element.id}-bio-0`).classList.add('active');
  }

  function onPhotoArrowClick(e, left, department) {
    const photoWrappers = document.getElementsByClassName(`${department}-photo`);
    const bioPhotos = document.getElementsByClassName(`${department}-riser`);
    const bios = document.getElementsByClassName(`${department}-bio`);
    let index;
    for (let i = 0; i < photoWrappers.length; i++) {
      if (photoWrappers[i].classList.contains('active')) {
        photoWrappers[i].classList.remove('active');
        bioPhotos[i].classList.remove('active');
        bios[i].classList.remove('active');
        index = i;
        break;
      }
    }

    let element;
    if (left) {
      if (index === 0) {
        element = bioPhotos[bioPhotos.length - 1];
        photoWrappers[photoWrappers.length - 1].classList.add('active');
      } else {
        element = bioPhotos[index - 1];
        photoWrappers[index - 1].classList.add('active');
      }
    } else {
      if (index === bioPhotos.length - 1) {
        element = bioPhotos[0];
        photoWrappers[0].classList.add('active');
      } else {
        element = bioPhotos[index + 1];
        photoWrappers[index + 1].classList.add('active');
      }
    }

    element.classList.add('active');
    document.getElementById(`${element.id.replace('photo', 'bio')}`).classList.add('active');
  }
</script>

<hero-header title="We Are<br>Rise8" memo="We are your digital transformation partner"
             description="We are revolutionizing the way federal agencies and companies develop complex,
              critical software to continuously deliver a future where fewer bad things happen because of bad software."
             image="{{ apos.attachment.url(imgObj) }}"></hero-header>
<div class="content-section">
  <div class="content-wrapper">
    <section-header header="Beliefs in Action"
                    subheader="We talk the talk and walk the walk"></section-header>
    <div class="section-body-wrapper">
      <belief-switch></belief-switch>
    </div>
  </div>
</div>
<div class="content-section dark light-on-mobile">
  <div class="content-wrapper">
    <section-header header="Let's Make Some Intros"
                    subheader="Your future teammates"
                    dark-mode light-on-mobile></section-header>
    <div class="section-body-wrapper">
      <div class="list-wrapper">
        <div class="list-options-wrapper">
          <img src="images/icon-chevron-right-red.svg"
               class="chevron left show-on-mobile active"
               onclick="onDepartmentArrowClick(event, true)">
          {% for department in data.departments %}
          {% set active = "" %}
          {% if loop.first %}
          {% set active = "active" %}
          {% endif %}
          <department-switch class="department-switch {{ active }}" active="{{ active }}"
                             department="{{ department.title }}"></department-switch>
          {% endfor %}
          <img src="images/icon-chevron-right-red.svg"
               class="chevron show-on-mobile active"
               onclick="onDepartmentArrowClick(event, false)">
        </div>
        <div class="list-partner">
          {% for department in data.departments %}
          {% set active = "" %}
          {% set dept = loop.index0 %}
          {% if loop.first %}
          {% set active = "active" %}
          {% endif %}
          <div id="{{ department.title }}-bios-container"
               class="department-bios-container {{ active }}">
            <div class="department-photos-wrapper">
              {% for riser in department._risers %}
              {% if loop.index < 4 %}
              {% set active = "" %}
              {% if loop.first %}
              {% set active = "active" %}
              {% endif %}
              {% set imgObj = apos.image.first(riser.photo) %}
              <div class="riser-photo-wrapper {{ active }} {{ department.title }}-photo">
                <bio-switch image-url="{{ apos.attachment.url(imgObj) }}"
                            department="{{ department.title }}"
                            index="{{ loop.index0 }}"
                            active="{{ active }}"
                            style="width: 100%"></bio-switch>
                <div class="chevron-wrapper">
                  <div class="photo-chevrons">
                    <img src="images/icon-chevron-right-light.svg"
                         class="chevron left show-on-mobile active"
                         onclick="onPhotoArrowClick(event, true, '{{department.title}}')">
                    <img src="images/icon-chevron-right-light.svg"
                         class="chevron show-on-mobile active"
                         onclick="onPhotoArrowClick(event, false, '{{department.title}}')">
                  </div>
                </div>
                <div class="photo-hover">Read Bio</div>
                <div class="photo-info">
                  <div>{{ riser.title }}</div>
                  <div>{{ riser.role }}</div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
            <div id="{{ department.title }}-bios" class="department-bios-wrapper {{ active }}">
              {% for riser in department._risers %}
              {% if loop.index < 4 %}
              {% set active = "" %}
              {% if loop.first %}
              {% set active = "active" %}
              {% endif %}
              <div id="{{ department.title }}-bio-{{ loop.index0 }}"
                   class="riser-bio-wrapper {{ department.title }}-bio {{ active }}">
                <div class="riser-bio-header">
                  <div class="bio-name">{{ riser.title }}</div>
                  <div class="bio-role">{{ riser.role }}</div>
                </div>
                <div id="bio" class="riser-bio">
                  <div class="bio-bio">{{ riser.bio | striptags(true) | escape | nl2br }}</div>
                  <div class="bio-quote">
                    <div class="riser-quote-name light-text">
                      {{ riser.title.split(' ')[0] }}'s View
                    </div>
                    <div id="quote" class="riser-quote light-text">
                      "{{ riser.quote }}"
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<section class="content-section">
  <div class="content-wrapper">
    {% set image0 = data.blogs[0].image.items[0]._image[0].attachment._urls['one-third'] %}
    {% set image1 = data.blogs[1].image.items[0]._image[0].attachment._urls['one-third'] %}
    {% set image2 = data.blogs[2].image.items[0]._image[0].attachment._urls['one-third'] %}
    <blog-preview
        blog1='{ "title": "{{ data.blogs[0].title }}",
        "subtitle": "{{ data.blogs[0].subtitle }}",
        "minutes": "{{ data.blogs[0].minutes }}",
        "url": "{{ data.blogs[0]._url }}",
        "image": "{{ image0 }}" }'
        blog2='{ "title": "{{ data.blogs[1].title }}",
        "subtitle": "{{ data.blogs[1].subtitle }}",
        "minutes": "{{ data.blogs[1].minutes }}",
        "url": "{{ data.blogs[1]._url }}",
        "image": "{{ image1 }}" }'
        blog3='{ "title": "{{ data.blogs[2].title }}",
        "subtitle": "{{ data.blogs[2].subtitle }}",
        "minutes": "{{ data.blogs[2].minutes }}",
        "url": "{{ data.blogs[2]._url }}",
         "image": "{{ image2 }}" }'>
    </blog-preview>
  </div>
</section>
{% endblock %}
