{% extends "layout.html" %}

{% block main %}
<div class="hero">
  <div class="left">
    <div class="memo">
      We are your digital transformation partner
    </div>
    <div class="title">
      We Are<br>
      Rise8
    </div>
    <div class="description">
      We have strong opinions (loosely held) because<br>
      game-changing tech isn't possible without an<br>
      industry-changing mindset. We love what we do,<br>
      and we're not shy about sharing our unfiltered<br>
      thoughts on all of it.
    </div>
  </div>
  <div class="slanted-div"></div>
  <div class="right">
    <div style="width: 600px"></div>
  </div>
</div>
<div class="content-section">
  <div class="content-wrapper">
    <div class="section-header-wrapper">
      <div class="section-subheader">We talk the talk and walk the walk</div>
      <div class="section-header">Beliefs in Action</div>
    </div>
    <div class="section-body-wrapper">
      <div class="list-wrapper">
        <script>
          function onClick(e) {
            const beliefs = document.getElementsByClassName("belief");
            for (let i = 0; i < beliefs.length; i++) {
              beliefs[i].classList.remove('active')
            }
            const descriptions = document.getElementsByClassName("belief-description")
            for (let i = 0; i < descriptions.length; i++) {
              descriptions[i].classList.remove('active')
            }
            e.target.classList.add('active');
            document.getElementById(`${e.target.id}-description`).classList.add('active');
          }
        </script>
        <div id="people" class="list-option belief active" onclick="onClick(event)">People</div>
        <div id="practice" class="list-option belief" onclick="onClick(event)">Practice</div>
        <div id="process" class="list-option belief" onclick="onClick(event)">Process</div>
      </div>
      <div class="list-partner">
        <div id="people-description" class="belief-description active" style="">
          <img class="frame" src="/images/frame-red-gradient.svg" alt="">
          <img class="pixels" src="/images/background-pixels-grey.svg" alt="">
          Digital transformation starts with people, the ones that you already have.<br>
          Most organizations don’t need help bringing in additional talent, they really<br>
          just need help getting out of its way.
          <br><br>
          We’re experts at coming in and helping your organization create learning<br>
          environments where employees with growth mindsets can learn, grow,<br>
          thrive and produce the products and platforms that are going to fuel your<br>
          digital transformation.
        </div>
        <div id="practice-description" class="belief-description">
          <img class="frame" src="/images/frame-red-gradient.svg" alt="">
          <img class="pixels" src="/images/background-pixels-grey.svg" alt="">
          At Rise8, we emphasize three main practices: lean product<br>
          management, user-centered design, and extreme programming.<br>
          When balanced properly, these contribute to an effective and<br>
          healthy DevSecOps culture.
          <br><br>
          We also think about leadership as a meta practice of any discipline,<br>
          and we incorporate it into our engagements from day one.
        </div>
        <div id="process-description" class="belief-description">
          <img class="frame" src="/images/frame-red-gradient.svg" alt="">
          <img class="pixels" src="/images/background-pixels-grey.svg" alt="">
          From pre-kickoff to day two operations, we help you craft<br>
          processes that create value and eliminate waste while taking<br>
          into account your unique domain context.
          <br><br>
          The system of work has to have alignment and flow in order<br>
          to achieve continuous delivery, where changes can be made<br>
          quickly, safely, and in a sustainable way.
          <br><br>
          We’ll help you test your assumptions and measure what matters<br>
          to ensure that you’re making measurable progress towards<br>
          the outcomes you care about.
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
