{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{% set title = data.piece.title or data.page.title %}
{% block title %}
{{ title }}
{% if not title %}
{{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
{% endif %}
{% endblock %}

{% block beforeMain %}
<eight-loader></eight-loader>
<div id="website-content" class="bp-wrapper display-after-loading-screen">
  <header id="nav-header" class="bp-header fill">
    <a href="/" class="logo"><img src="/images/logo-rise8.svg" alt="Rise8 logo"></a>
    <nav>
      <ul class="nav-list">
        <li class="{{ data.page.title == 'Services' }}"><a href="/services" class="link"><div class="link-text">Services</div></a></li>
        <li class="{{ data.page.title == 'About Us' }}"><a href="/about" class="link"><div class="link-text">About Us</div></a></li>
        <li class="{{ data.page.title == 'Blog' }}"><a href="/blog" class="link"><div class="link-text">Blog</div></a></li>
        <li class="{{ data.page.title == 'Careers' }}"><a href="/careers" class="link"><div class="link-text">Careers</div></a></li>
        <li class="{{ data.page.title == 'Contact' }}"><a href="/contact" class="link"><div class="link-text">Contact</div></a></li>
        <li><img src="/images/icon-search.svg" alt="Search"></li>
      </ul>
      <div class="mobile-nav-bar">
        <div class="nav-link"><a href="/contact" class="link"><div class="link-text" style="font-size: 20px">Contact</div></a></div>
        <hamburger-menu mode="light"></hamburger-menu>
      </div>
    </nav>
  </header>
  <header id="prodacity-banner" class="prodacity-banner">
    <div class="date-text">sep 7-8 2022<br/>washington dc</div>
    <img src="/images/logo-prodacity-light.svg" alt="" class="prodacity-banner-logo">
    <img src="/images/logo-prodacity-mobile.svg" alt="" class="prodacity-banner-logo-mobile">
    <div class="date-text-mobile">september 7-8<br/>washington dc</div>
    <custom-button text="Learn More" link="/events/prodacity" mode="light" mini no-chevron
                   text-style="color: red"></custom-button>
  </header>
  <main>
    {% endblock %}

    {% block main %}
    {#
    Usually, your page templates in the @apostrophecms/pages module will override
    this block. It is safe to assume this is where your page-specific content
    should go.
    #}
    {% endblock %}

    {% block afterMain %}
  </main>
  <footer class="bp-footer__wrapper fill">
    <div class="bp-footer">
        <div class="impact-wrapper">
          <img class="background-img" src="/images/background-footer.svg" alt="">
          <img class="background-img-mobile" src="/images/background-footer-mobile.svg" alt="">
          <div class="impact">
            <div class="footer-text">Together we create continuous impact.</div>
            <div class="button-wrapper">
              <custom-button text="Become a customer" link="/contact" mode="light"></custom-button>
              <custom-button text="Become a Riser" link="/careers" mode="light"></custom-button>
            </div>
        </div>
      </div>
      <div class="info-wrapper">
        <div class="info">
          <img class="logo" src="/images/logo-rise8.svg" alt="Rise8 logo">
          <div>+1 (813) 575-4080</div>
          <div>1646 W Snow Ave, Ste 71<br/>Tampa, FL 33606</div>
          <div>info@rise8.us</div>
        </div>
        <div class="links-wrapper">
          <ul class="links">
            <li><a href="/services">Services</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/careers">Careers</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
          <ul class="social">
            <li><a href="https://www.linkedin.com/company/rise8" target="_blank"><img
                src="/images/logo-linkedin.svg" alt="LinkedIn logo"></a></li>
            <li><a href="https://twitter.com/Rise8_Inc" target="_blank"><img
                src="/images/logo-twitter.svg" alt="Twitter logo"></a></li>
            <li><a href="https://www.facebook.com/rise8/" target="_blank"><img
                src="/images/logo-facebook.svg" alt="Facebook logo"></a></li>
            <li><a href="https://www.instagram.com/rise8_inc/" target="_blank"><img
                src="/images/logo-instagram.svg" alt="Instagram logo"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>{# Close .bp-wrapper #}
{% endblock %}
