{% extends "layout.html" %}

{% block main %}
<script type="text/javascript">
  (function () {
    document.getElementById('prodacity-banner').classList.add('hidden');
  })();
</script>
<hero-header title-image="/images/logo-prodacity.svg"
     memo="sep 7-8 2022<br>washington dc
     <div class='register-button'>
     <custom-button text='Register Now' link='/registration-link' mode='gradient'
     text-style='font-weight: 700' half no-chevron></custom-button>
     </div>"
     caption="<img src='/images/logo-wework.svg' alt=''>" pad-top></hero-header>
<section class="content-section dark with-8-mark">
  <div class="eight-mark-background dark">
    <div class="content-wrapper with-8-mark">
      <div class="two-column-wrapper">
        <div>
          <section-header header="Prodacity 2022" subheader="Sept 7-8, 2022 in Washington DC"
                          dark-mode secondary></section-header>
          <div class="section-body-text">
            Rise8's first annual Prodacity Symposium is about giving people in the government space
            the audacity to get to prod.
          </div>
        </div>
        <div>
          <section-header header="Prod Academy" subheader="theme of the year"
                          dark-mode secondary></section-header>
          <div class="section-body-text">
            Prod Academy is a Masterclass to set a baseline for how to do DevOps in government and
            achieve mission outcomes.
            <br/><br/>
            <span style="font-weight: 700">Students will leave this masterclass knowing how to "do the Kessel Run" (and do it
            better,
              faster, and cheaper).</span>
          </div>
        </div>
      </div>
      <div class="center-button">
        <custom-button text="Register Now" link="/registration-link" mode="gradient" text-style="font-weight: 700"
                       half no-chevron></custom-button>
      </div>
      <div class="subsection-wrapper">
        <section-header header="Syllabus" subheader="Why, what, and how"
                        dark-mode secondary></section-header>
        <div class="two-column-wrapper">
          <div class="section-body-text">
            <div class="agenda-header">Day 1: Why & What</div>
            <ul class="no-bullet-list">
              <li>The SW-Powered Battlefield of 2040</li>
              <li>Outputs, Outcomes, Impacts</li>
              <li>Keynote | SDO Performance and Mission Success with Special Guest Speaker</li>
              <li>NUMMI Maneuver and the “that won’t work here” myth</li>
              <li>Team Topologies</li>
              <li>Working backwards from the user</li>
              <li>Continuous Delivery with Special Guest Speaker</li>
              <li>Will the real cATO please stand up? The Pipes and Paths required for Gov</li>
              <li> Panel | Infrastructure</li>
              <li>PaaS: The pre-req for DevOps outcomes in the Gov</li>
              <li>Panel | PaaS</li>
              <li>The Culture Manifesto</li>
              <li>Transformational Leadership with Special Guest Speaker</li>
            </ul>
          </div>
          <div class="section-body-text">
            <div class="agenda-header">Day 2: How</div>
            <ul class="no-bullet-list">
              <li>Keynote | Learn the Fastest with Special Guest Speaker</li>
              <li>2x2: Authority and Accountability</li>
              <li>Funding Teams</li>
              <li>Accountabilities and Extreme Ownership</li>
              <li>People Ops</li>
              <li>Panel | Hacking Gov HR</li>
              <li>Innovation Strategies for DAS</li>
              <li>Innovation Strategies for PPBE</li>
              <li>Innovation Strategies for JCIDS</li>
              <li>Inno Strategies/Tactics for Execs and Sr Stakeholders (Innovating JCIDS)</li>
              <li>Measure customer obsession and help people learn</li>
              <li>Panel | #$%&ing Measure</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="subsection-wrapper">
      <div class="content-wrapper row">
        <div>
          <section-header header="Location" subheader="washington dc"
                          dark-mode secondary></section-header>
          <div class="section-body-text">
            <div class="culture-header">Culture House, DC</div>
            <div class="culture-text">700 Delaware Ave SW</div>
            <div class="culture-text bold">In the heart of a thriving scene</div>
            <div class="culture-text">With 15,000+ square feet of artful space in Southwest
              Washington,
              DC, Culture House is an
              events venue unlike any other in the District.
            </div>
          </div>
        </div>
        <div class="image-container">
          <img class="image" src="../images/image-culture-house.png" alt="">
        </div>
      </div>
    </div>
    <div class="center-button">
      <custom-button text="Register Now" link="/registration-link" mode="gradient" text-style="font-weight: 700"
                     half no-chevron></custom-button>
    </div>
  </div>
</section>
{% endblock %}
