{% extends "layout.html" %}

{% block main %}
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(event) {
    (function () {
      document.getElementById('prodacity-banner').classList.add('hidden');
    })();
  });
</script>
{% set imgObj = apos.image.first(data.page.heroImage) %}
<hero-header title-image="/images/logo-prodacity.svg"
             memo="sep 7-8 2022<br>washington dc
     <div class='register-button'>
     <custom-button text='Register Now' link='https://rise8.regfox.com/prodacity-2022' mode='gradient'
     text-style='font-weight: 700' half no-chevron></custom-button>
     </div>"
             image="{{ apos.attachment.url(imgObj) }}" pad-top></hero-header>
<section class="content-section dark with-8-mark">
  <div class="eight-mark-background dark">
    <div class="content-wrapper with-8-mark">
      <div>
        <section-header header="Prodacity 2022" subheader="Sept 7-8, 2022 in Washington DC"
                        dark-mode secondary></section-header>
        <div class="section-body-text no-max">
          This year's theme is Prod Academy, which will set a baseline for how to do DevOps in
          government and achieve mission outcomes.
          <br/><br/>
          Attendees will leave knowing how to start and scale the next generation of government
          software organizations with the lessons learned to do it better, faster, and cheaper.
        </div>
      </div>
      <div class="center-button">
        <custom-button text="Register Now" link="https://rise8.regfox.com/prodacity-2022" mode="gradient"
                       text-style="font-weight: 700"
                       half no-chevron></custom-button>
      </div>
      <div class="subsection-wrapper">
        <section-header header="Syllabus" subheader="Why, what, and how"
                        dark-mode secondary></section-header>
        <div class="two-column-wrapper">
          <div class="section-body-text">
            <div class="agenda-header">Day 1: Why & What</div>
            <ul class="no-bullet-list">
              <li>The SW-Powered Battlefield w/Josh Marcuse</li>
              <li>Outputs, Outcomes, Impacts</li>
              <li>Keynote | SDO Performance and Mission Success w/ Gene Kim</li>
              <li>NUMMI Maneuver and the “that won’t work here” myth</li>
              <li>Balanced Teams w/ Janice Fraser</li>
              <li>Working backwards from the user</li>
              <li>Product Practices</li>
              <li>The Real Deal on cATO</li>
              <li>Panel | Infrastructure</li>
              <li>Cloud-native Platform and DevOps outcomes in Public Sector</li>
              <li>Panel | PaaS</li>
              <li>The Culture Manifesto w/ Bryon Kroger</li>
              <li>Transformational Leadership w/ Gene Kim</li>
            </ul>
          </div>
          <div class="section-body-text">
            <div class="agenda-header">Day 2: How</div>
            <ul class="no-bullet-list">
              <li>Keynote | Learn the Fastest w/ special guest speaker</li>
              <li>DevOps Enterprise Forum: Authority and Accountability w/ Lt Col Max Reele</li>
              <li>Funding Teams instead of Solutions</li>
              <li>A New Model for SW Program Accountability</li>
              <li>People Ops in Government</li>
              <li>Panel | Hacking Gov HR</li>
              <li>Innovation Strategies for DAS w/ Meagan Metzger and Riya Patel</li>
              <li>Innovation Strategies for PPBE</li>
              <li>Innovation Strategies/Tactics for Execs and Sr Stakeholders w/ Siobhan McFeeney</li>
              <li>Measuring customer obsession - don't talk about it, be about it</li>
              <li>Panel | You get what you measure</li>
              <li>Getting Started & Call to Action</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="subsection-wrapper">
      <div class="content-wrapper row" style="place-content: space-between;">
        <div>
          <section-header header="Location" subheader="washington dc"
                          dark-mode secondary></section-header>
          <div class="section-body-text">
            <div class="culture-header">Culture House, DC</div>
            <div class="culture-text">700 Delaware Ave SW</div>
            <div class="culture-text bold">In the heart of a thriving scene</div>
            <div class="culture-text">With 15,000+ square feet of artful space in Southwest
              Washington,
              DC, Culture House is an
              events venue unlike any other in the District.
            </div>
          </div>
        </div>
        <div class="image-container">
          <img class="image" src="../images/image-culture-house.png" alt="">
        </div>
      </div>
    </div>
    <div class="center-button">
      <custom-button text="Register Now" link="https://rise8.regfox.com/prodacity-2022" mode="gradient"
                     text-style="font-weight: 700"
                     half no-chevron></custom-button>
    </div>
  </div>
</section>
{% endblock %}
