{% extends "layout.html" %}

{% block main %}
<div class="hero">
  <div class="left center">
    <div></div>
    <div>
      <div class="title">
        <img src="../images/logo-prodacity.svg" alt="">
      </div>
      <div class="memo center">
        sep 7-8 2022<br/>washington dc
      </div>
    </div>
    <div>
      <img src="../images/logo-wework.svg">
    </div>
  </div>
  <div class="slanted-div"></div>
  <div class="right">
    <div style="width: 600px"></div>
  </div>
</div>
{% endblock %}
