{#
This is an example home page template. It inherits and extends a layout template
that lives in the top-level views/ folder for convenience
#}

{% extends "layout.html" %}

{% block main %}
<section class="bp-welcome">
  <div class="hero">
    <div class="text-wrapper">
      <div class="sub-text">Together, we create continuous impact.</div>
      <div class="main-text">Your Audacity.<br/>Our Tenacity.</div>
    </div>
    <img class="slash" src="/images/red-slash.svg" alt="">
    <img class="clouds" src="/images/clouds.jpg" alt="">
  </div>
</section>
<section class="content-section">
  <img class="eight-mark" src="images/8-mark-light.svg" alt="">
  <div class="content-wrapper">
    <div class="transform-text">We transform how organizations build and deliver software.</div>
    <div class="content">
      <div class="section-header-wrapper">
        <div class="section-subheader">Digital solutions that optimize outcomes</div>
        <div class="section-header">Services</div>
      </div>
      <div class="service-image image-1">image placeholder</div>
      <div class="service-body body-1">
        <div class="header"><img class="icon" src="images/service-cloud-1.svg" alt="">Cloud +
          Platforms
        </div>
        <div class="body">We specialize in delivering a cloud-native platform and toolchain that is
          optimized for change so enterprises can move at start-up speeds and with greater mission
          agility.
        </div>
        <a href="/services" class="button dark">
          <div class="dark">Learn more</div>
          <img src="/images/icon-chevron-right-light.svg" alt="Chevron right">
        </a>
      </div>
      <div class="service-body body-2">
        <div class="header"><img class="icon" src="images/service-cloud-2.svg" alt="">Pipelines +
          Pathways
        </div>
        <div class="body">We ensure that teams have a secure and compliant means to deploy quickly
          and continuously with high quality and reduced risk.
        </div>
        <a href="/services" class="button dark">
          <div class="dark">Learn more</div>
          <img src="/images/icon-chevron-right-light.svg" alt="Chevron right">
        </a>
      </div>
      <div class="service-image image-2">image placeholder</div>
      <div class="service-image image-3">image placeholder</div>
      <div class="service-body body-3">
        <div class="header"><img class="icon" src="images/service-cloud-3.svg" alt="">Applications +
          Digital Products
        </div>
        <div class="body">Our teams use agile, lean, and user-centered approaches to continuously
          deliver impactful software that users love.
        </div>
        <a href="/services" class="button dark">
          <div class="dark">Learn more</div>
          <img src="/images/icon-chevron-right-light.svg" alt="Chevron right">
        </a>
      </div>
    </div>
    <div class="secondary">
      <div class="section-header-wrapper">
        <div class="section-subheader">Trusted guides with proven success</div>
        <div class="section-header">Who We Serve</div>
      </div>
      <div class="logo-wrapper">
        <img src="images/logo-sf.svg" alt="">
        <img src="images/logo-af.svg" alt="">
        <img src="images/logo-va.svg" alt="">
        <img src="images/logo-specops.svg" alt="">
        <img src="images/logo-sec31.svg" alt="">
        <img src="images/logo-abms.svg" alt="">
        <img src="images/logo-km.svg" alt="">
      </div>
    </div>
  </div>
</section>
<section class="content-section dark">
  <div class="content-wrapper flex-between">
    <div>
      <div class="section-header-wrapper dark">
        <div class="section-subheader">We are your digital transformation partner</div>
        <div class="section-header dark">Who We Are</div>
      </div>
      <div class="section-body-text">
        Our roots connect to a simple premise: it’s possible to make a better world where fewer bad
        things happen because of bad software.<br/><br/>Our teams use Agile, Lean, and
        Human-Centered approaches to continuously deliver impactful
        software that users love. And it is not just the tactics we execute - In this age of
        innovation theater, we promise realness: rapid outcomes in production.
        <a href="/about" class="button half light standard-top right-justify">
          <div class="light">About Us</div>
          <img src="/images/icon-chevron-right.svg" alt="Chevron right">
        </a>
      </div>
    </div>
    <div class="image-container">
      <img class="image" src="images/who-are-we.svg" alt="">
    </div>
  </div>
</section>
{% endblock %}
