{#
This is an example home page template. It inherits and extends a layout template
that lives in the top-level views/ folder for convenience
#}

{% extends "layout.html" %}

{% block main %}
<section class="bp-welcome">
  <div class="hero-homepage">
    <div class="text-wrapper">
      <div class="sub-text">Together, we create continuous impact.</div>
      <div class="main-text">Your Audacity.<br/>Our Tenacity.</div>
    </div>
    <div class="slash-wrapper">
      <img class="slash" src="/images/background-red-slash.svg" alt="">
    </div>
    <img class="clouds" src="/images/image-clouds.jpg" alt="">
  </div>
</section>
<section class="content-section with-8-mark">
  <div class="eight-mark-background">
    <div class="content-wrapper with-8-mark">
      <div class="transform-text">We transform how organizations build and deliver software.</div>
      <section-header header="Services"
                      subheader="Digital solutions that optimize outcomes"></section-header>
      <div class="content">
        {% set imgObj1 = apos.image.first(data.page.cloudPlatformsImage) %}
        <img src="{{ apos.attachment.url(imgObj1) }}" alt="" class="service-image image-1">
        <div class="service-body body-1">
          <div class="header"><img class="icon" src="images/icon-service-cloud-1.svg" alt="">Cloud +
            Platforms
          </div>
          <div class="body">We specialize in delivering a cloud-native platform and toolchain that
            is
            optimized for change so enterprises can move at start-up speeds and with greater mission
            agility.
          </div>
          <custom-button text="Learn more" link="/services" mode="dark"></custom-button>
        </div>
        <div class="service-body body-2">
          <div class="header"><img class="icon" src="images/icon-service-cloud-2.svg" alt="">Pipelines
            +
            Pathways
          </div>
          <div class="body">We ensure that teams have a secure and compliant means to deploy quickly
            and continuously with high quality and reduced risk.
          </div>
          <custom-button text="Learn more" link="/services" mode="dark"></custom-button>
        </div>
        {% set imgObj2 = apos.image.first(data.page.pipelinesPathwaysImage) %}
        <img src="{{ apos.attachment.url(imgObj2) }}" alt="" class="service-image image-2">
        {% set imgObj3 = apos.image.first(data.page.appsDigitalProductsImage) %}
        <img src="{{ apos.attachment.url(imgObj3) }}" alt="" class="service-image image-3">
        <div class="service-body body-3">
          <div class="header"><img class="icon" src="images/icon-service-cloud-3.svg" alt="">Applications
            +
            Digital Products
          </div>
          <div class="body">Our teams use agile, lean, and user-centered approaches to continuously
            deliver impactful software that users love.
          </div>
          <custom-button text="Learn more" link="/services" mode="dark"></custom-button>
        </div>
      </div>
      <who-we-serve></who-we-serve>
    </div>
  </div>
</section>
<section class="content-section dark">
  <div class="content-wrapper flex-between">
    <div>
      <section-header header="Who We Are" dark-mode
                      subheader="We are your digital transformation partner"></section-header>
      <div class="section-body-text medium">
        Our roots connect to a simple premise: it’s possible to make a better world where fewer bad
        things happen because of bad software.<br/><br/>Our teams use Agile, Lean, and
        Human-Centered approaches to continuously deliver impactful
        software that users love. And it is not just the tactics we execute - In this age of
        innovation theater, we promise realness: rapid outcomes in production.
        <div class="standard-top right-justify">
          <custom-button text="About Us" link="/about" mode="light" half></custom-button>
        </div>
      </div>
    </div>
    <div class="image-container">
      <img class="image" src="images/image-who-are-we.svg" alt="">
    </div>
  </div>
</section>
<section class="content-section">
  <div class="content-wrapper">
    <blog-preview
        blog1='{ "title": "{{ data.blogs[0].title }}",
        "subtitle": "{{ data.blogs[0].subtitle }}",
        "minutes": "{{ data.blogs[0].minutes }}",
        "url": "{{ data.blogs[0]._url }}" }'
        blog2='{ "title": "{{ data.blogs[1].title }}",
        "subtitle": "{{ data.blogs[1].subtitle }}",
        "minutes": "{{ data.blogs[1].minutes }}",
        "url": "{{ data.blogs[1]._url }}" }'
        blog3='{ "title": "{{ data.blogs[2].title }}",
        "subtitle": "{{ data.blogs[2].subtitle }}",
        "minutes": "{{ data.blogs[2].minutes }}",
        "url": "{{ data.blogs[2]._url }}" }'>
    </blog-preview>
  </div>
</section>
{% endblock %}
