{#
  Use this template to build out your 404 error pages. Like page templates,
  it inherits a global layout.
#}

{% extends "layout.html" %}

{% block title %}404 - Page not found{% endblock %}

{% block main %}
<section class="content-section">
  <div class="content-wrapper error">
    <section-header header="You've found a page that doesn't exist." error
                    subheader="Error 404"></section-header>
    <custom-button text="Back Home" link="/" mode="dark"></custom-button>
  </div>
</section>
{% endblock %}

{% block extraBody %}
{{ super() }}
{% include "@apostrophecms/seo:404.html" %}
{% endblock %}
