{% extends "layout.html" %}

{% block main %}
{% set imgObj = apos.image.first(data.piece.heroImage) %}
<hero-header title-image="/images/logo-prodacity.svg"
             memo="sep 7-8 2022<br>washington dc
     <div class='register-button'>
     <custom-button text='Register Now' link='https://rise8.regfox.com/prodacity-2022' mode='gradient'
     text-style='font-weight: 700' half no-chevron></custom-button>
     </div>"
             image="{{ apos.attachment.url(imgObj) }}" pad-top></hero-header>
<section class="content-section dark with-8-mark">
  <div class="eight-mark-background dark">
    <div class="content-wrapper with-8-mark">
      <div>
        <section-header header="Prodacity 2022" subheader="Sept 7-8, 2022 in Washington DC"
                        dark-mode secondary></section-header>
        <div class="section-body-text no-max">
          This year's theme is Prod Academy, which will set a baseline for how to do DevOps in
          government and achieve mission outcomes.
          <br/><br/>
          <strong>Attendees will learn how to launch, scale, and continuously improve the next
            generation of government software organizations with the lessons learned to do it
            better, faster, and cheaper.</strong>
        </div>
      </div>
      <div class="center-button">
        <custom-button text="Register Now" link="https://rise8.regfox.com/prodacity-2022"
                       mode="gradient"
                       text-style="font-weight: 700"
                       half no-chevron></custom-button>
      </div>
      {% if data.piece._presenters|length > 0 %}
      <div class="subsection-wrapper flex">
        <section-header header="Speakers"
                        subheader="The incredible experts & panelists"
                        dark-mode secondary></section-header>
        <div class="speaker-container">
          <ul class="speaker-list">
            {% for presenter in data.piece._presenters %}
            {% set imgObj = apos.image.first(presenter.photo) %}
            {% set index = loop.index %}
            {% set bio = presenter.bio %}
            {% set shortBio = bio | safe | replace(r/(\n.*)/g, '') %}
            <li class="tab">
              <input type="radio" name="tab-radio" id="tab-{{ index }}" {{'checked' if index == 1 else ''}} {{'disabled' if presenter._fields.disabled else ''}}>
              <label class="tab-label" for="tab-{{ index }}">
                <div>{{ presenter.title }}</div>
              </label>
              <div class="tab-content">
                <div class="speaker-image-container">
                  <img
                      src="{{ apos.attachment.url(imgObj) }}"
                      style="object-position: {{ apos.attachment.focalPointToObjectPosition(presenter.photo) }}"
                      alt="{{ presenter.title }}"/>

                  <div class="gradient"></div>
                  <div class="photo-info">
                    <div>{{ presenter.title }}</div>
                    <div>{{ presenter.role }}</div>
                  </div>
                </div>
                <div class="bio">
                  <span class="bio-name">{{ presenter.title }}</span>
                  {% if shortBio !== '' %}
                    {% set truncatedBio = shortBio | safe | truncate(340, false, "...") %}
                    {{ truncatedBio | striptags(true) | escape | nlp }}
                    {% if truncatedBio != shortBio or (bio != '' and bio != shortBio) %}
                      <span class="bio-more">+ Read More</span>
                    {% endif %}
                    {{ bio | safe | striptags(true) | escape | nl2br | nlp }}
                  {% endif %}
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
      <div class="subsection-wrapper flex">
        <section-header header="Syllabus" subheader="Why, what, and how"
                        dark-mode secondary></section-header>
        <div class="two-column-wrapper">
          <div class="section-body-text">
            <div class="agenda-header">Day 1: Why & What</div>
            <p>Day 1 starts with why and clarifies the what. Josh Marcuse will discuss the "Digital
              Value Chain" as it relates to the future battlefield. Then, Gene Kim will keynote the
              research behind high performing software teams and what we need to focus on as a
              community. The rest of day 1 covers the "what" of these teams.</p>
            <ul class="no-bullet-list">
              <li>The SW-Powered Battlefield w/Josh Marcuse</li>
              <li>Outputs, Outcomes, Impacts</li>
              <li><strong>Keynote</strong> | SDO Performance and Mission Success w/ <strong>Gene
                Kim</strong></li>
              <li>NUMMI Maneuver and the “that won’t work here” myth</li>
              <li>Balanced Teams w/ Janice Fraser</li>
              <li>Working backwards from the user</li>
              <li>Product Practices w/ Adam Furtado</li>
              <li>The Real Deal on cATO w/ Angel Phaneuf and Bryon Kroger</li>
              <li><strong>Panel</strong> | Infrastructure</li>
              <li>Cloud-native Platform and DevOps outcomes in Public Sector w/Cornelia Davis</li>
              <li><strong>Panel</strong> | PaaS</li>
              <li>The Culture Manifesto w/ Bryon Kroger</li>
              <li>Transformational Leadership w/ Gene Kim</li>
            </ul>
          </div>
          <div class="section-body-text">
            <div class="agenda-header">Day 2: How</div>
            <p>Day 2 is all about the how. We will talk about how to do software, and also the
              requirements (JCIDS), budgeting (PPBE), and acquisitions strategy (DAS). That will be
              underpinned by a focus on learning fast keynoted by Admiral John Richardson USN
              (retired).</p>
            <ul class="no-bullet-list">
              <li><strong>Keynote</strong> | Learn the Fastest w/ Admiral <strong>John
                Richardson</strong> USN (retired), 31st CNO
              </li>
              <li>DevOps Enterprise Forum: Authority and Accountability w/ Lt Col Max Reele</li>
              <li>Funding Teams instead of Solutions</li>
              <li>A New Model for SW Program Accountability</li>
              <li>People Ops in Government</li>
              <li><strong>Panel</strong> | Hacking Gov HR</li>
              <li>Innovation Strategies for DAS w/ Meagan Metzger and Riya Patel</li>
              <li>Innovation Strategies for PPBE</li>
              <li>Innovation Strategies/Tactics for Execs and Sr Stakeholders w/ Siobhan McFeeney
              </li>
              <li>Measuring customer obsession - don't talk about it, be about it</li>
              <li><strong>Panel</strong> | You get what you measure</li>
              <li>Getting Started & Call to Action</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="subsection-wrapper">
      <div class="content-wrapper row" style="place-content: space-between;">
        <div>
          <section-header header="Location" subheader="washington dc"
                          dark-mode secondary></section-header>
          <div class="section-body-text">
            <div class="culture-header">Culture House, DC</div>
            <div class="culture-text">700 Delaware Ave SW</div>
            <div class="culture-text bold">In the heart of a thriving scene</div>
            <div class="culture-text">With 15,000+ square feet of artful space in Southwest
              Washington,
              DC, Culture House is an
              events venue unlike any other in the District.
            </div>
          </div>
        </div>
        <div class="image-container">
          <img class="image" src="../images/image-culture-house.png" alt="">
        </div>
      </div>
    </div>
    <div class="center-button">
      <custom-button text="Register Now" link="https://rise8.regfox.com/prodacity-2022"
                     mode="gradient"
                     text-style="font-weight: 700"
                     half no-chevron></custom-button>
    </div>
  </div>
</section>
{% endblock %}
