{% extends "layout.html" %}

{% block main %}
<script>
  function onDepartmentArrowClick(e, left) {
    const departments = document.getElementsByClassName('department');
    const switches = document.getElementsByClassName('department-switch');
    let index = 0;
    for (let i = 0; i < departments.length; i++) {
      if (departments[i].classList.contains('active')) {
        departments[i].classList.remove('active');
        switches[i].classList.remove('active');
        index = i;
        break;
      }
    }

    const departmentBiosContainers = document.getElementsByClassName('department-bios-container');
    for (let i = 0; i < departmentBiosContainers.length; i++) {
      departmentBiosContainers[i].classList.remove('active');
    }
    const bios = document.getElementsByClassName('riser-bio-wrapper');
    for (let i = 0; i < bios.length; i++) {
      bios[i].classList.remove('active');
    }

    let element;
    if (left) {
      if (index === 0) {
        element = departments[departments.length - 1];
        switches[departments.length - 1].classList.add('active');
      } else {
        element = departments[index - 1];
        switches[index - 1].classList.add('active');
      }
    } else {
      if (index === departments.length - 1) {
        element = departments[0];
        switches[0].classList.add('active');
      } else {
        element = departments[index + 1];
        switches[index + 1].classList.add('active');
      }
    }

    element.classList.add('active');
    document.getElementById(`${element.id}-bios-container`).classList.add('active');
    document.getElementById(`${element.id}-photo-0`).classList.add('active');
    document.getElementById(`${element.id}-bio-0`).classList.add('active');
  }

  function onPhotoArrowClick(e, left, department) {
    const photoWrappers = document.getElementsByClassName(`${department}-photo`);
    const bioPhotos = document.getElementsByClassName(`${department}-riser`);
    const bios = document.getElementsByClassName(`${department}-bio`);
    let index;
    for (let i = 0; i < photoWrappers.length; i++) {
      if (photoWrappers[i].classList.contains('active')) {
        photoWrappers[i].classList.remove('active');
        bioPhotos[i].classList.remove('active');
        bios[i].classList.remove('active');
        index = i;
        break;
      }
    }

    let element;
    if (left) {
      if (index === 0) {
        element = bioPhotos[bioPhotos.length - 1];
        photoWrappers[photoWrappers.length - 1].classList.add('active');
      } else {
        element = bioPhotos[index - 1];
        photoWrappers[index - 1].classList.add('active');
      }
    } else {
      if (index === bioPhotos.length - 1) {
        element = bioPhotos[0];
        photoWrappers[0].classList.add('active');
      } else {
        element = bioPhotos[index + 1];
        photoWrappers[index + 1].classList.add('active');
      }
    }

    element.classList.add('active');
    document.getElementById(`${element.id.replace('photo', 'bio')}`).classList.add('active');
  }

  function onTipArrowClick(e, isLeft) {
    const tipIndex = parseInt(e.target.id.split('-')[1]);
    document.getElementById(`tip-${tipIndex}`).classList.add('hidden');

    const tips = document.getElementsByClassName('tip-wrapper');

    if (isLeft) {
      document.getElementById(`tip-${tipIndex === 0 ? tips.length - 1 : tipIndex - 1}`).classList.remove('hidden');
    } else {
      document.getElementById(`tip-${tipIndex === tips.length - 1 ? 0 : tipIndex + 1}`).classList.remove('hidden');
    }
  }
</script>
{% set imgObj = apos.image.first(data.page.heroImage) %}
<hero-header memo="Message from the CEO" title="Welcome Future Risers"
             description="Thanks for stopping by to find out more about Rise8. We are a full stack
                         digital transformation firm that is underpinned by a distinct culture and
                         a collective ability to deliver a better tomorrow. We are on a mission to
                         continuously deliver impactful software that humans love. Join us on
                         that journey and find out more about Rise8."
             image="{{ apos.attachment.url(imgObj) }}"></hero-header>
<div class="content-section">
  <div class="content-wrapper">
    <div class="mobile-only">
      <img src="{{ apos.attachment.url(imgObj) }}" alt="" style="width: 100%">
    </div>
    <section-header header="Our Core Values" subheader="Tagline"></section-header>
    <div class="section-body-text large telegraf">
      Our core values are tied to the specific behaviors and skills we care about most. The more
      these values sound like you, and describe people you want to work with, the more likely
      you will thrive at Rise8.
    </div>
    <div class="values-body-wrapper">
      <div class="img-description">
        <img src="{{ data.page.coreValues.items[0]._image[0].attachment._urls['two-thirds'] }}" alt="" class="values-img">
        <div class="img-description-header">Outcomes or Bust</div>
        <span class="img-description-content">
          Output is meaningless without delivering<br>
          outcomes to the customer that impact their<br>
          mission. We are purpose-driven, dedicated<br>
          to serving something beyond our own self-<br>
          interests.
        </span>
      </div>
      <div class="img-description">
        <img src="{{ data.page.coreValues.items[1]._image[0].attachment._urls['two-thirds'] }}" alt="" class="values-img">
        <div class="img-description-header">Keep it Real</div>
        <span class="img-description-content">
          Real working software, rapidly deployed | to<br>
          real operations environments | to solve real<br>
          problems | for real users | to create real<br>
          business outcomes. #prodoritdidnthappen.
        </span>
      </div>
      <div class="img-description">
        <img src="{{ data.page.coreValues.items[2]._image[0].attachment._urls['two-thirds'] }}" alt="" class="values-img">
        <div class="img-description-header">Learn the Fastest</div>
        <span class="img-description-content">
          We move fast so we can innovate<br>
          through experimentation and learn faster.<br>
          We’re less afraid of failure than we are of<br>
          losing opportunities or the chance for<br>
          feedback by moving too slowly.
        </span>
      </div>
      <div class="img-description">
        <img src="{{ data.page.coreValues.items[3]._image[0].attachment._urls['two-thirds'] }}" alt="" class="values-img">
        <div class="img-description-header">Be Less Certain</div>
          <span class="img-description-content">
            You can’t learn the fastest if you listen the<br>
            slowest. Prod is the ultimate arbiter of truth,<br>
            not your resume. Step outside your ego and<br>
            empathize with others.
          </span>
      </div>
      <div class="img-description">
        <img src="{{ data.page.coreValues.items[4]._image[0].attachment._urls['two-thirds'] }}" alt="" class="values-img">
        <div class="img-description-header">Prodacity</div>
        <span class="img-description-content">
          Be willing to take bold risks to get to prod and<br>
          even more willing to learn from it. Empower<br>
          yourself and everyone around you to make<br>
          deliberate, autonomous decisions.
        </span>
      </div>
    </div>
  </div>
</div>
<div class="content-section light">
  <div class="content-wrapper">
    <section-header header="Let's Make Some Intros"
                    subheader="Your future teammates"
                    dark-mode light-on-mobile></section-header>
    <div class="section-body-wrapper">
      <div class="list-wrapper">
        <div class="list-options-wrapper">
          <img src="images/icon-chevron-right-red.svg"
               class="chevron left show-on-mobile active"
               onclick="onDepartmentArrowClick(event, true)">
          {% for department in data.departments %}
          {% set active = "" %}
          {% if loop.first %}
          {% set active = "active" %}
          {% endif %}
          <department-switch class="department-switch {{ active }}" active="{{ active }}"
                             department="{{ department.title }}"></department-switch>
          {% endfor %}
          <img src="images/icon-chevron-right-red.svg"
               class="chevron show-on-mobile active"
               onclick="onDepartmentArrowClick(event, false)">
        </div>
        <div class="list-partner">
          {% for department in data.departments %}
          {% set active = "" %}
          {% set dept = loop.index0 %}
          {% if loop.first %}
          {% set active = "active" %}
          {% endif %}
          <div id="{{ department.title }}-bios-container"
               class="department-bios-container {{ active }}">
            <div class="department-photos-wrapper">
              {% for riser in department._risers %}
              {% if loop.index < 4 %}
              {% set active = "" %}
              {% if loop.first %}
              {% set active = "active" %}
              {% endif %}
              {% set imgObj = apos.image.first(riser.photo) %}
              <div class="riser-photo-wrapper {{ active }} {{ department.title }}-photo">
                <bio-switch image-url="{{ apos.attachment.url(imgObj) }}"
                            department="{{ department.title }}"
                            index="{{ loop.index0 }}"
                            active="{{ active }}"
                            style="width: 100%"></bio-switch>
                <div class="chevron-wrapper">
                  <div class="photo-chevrons">
                    <img src="images/icon-chevron-right-light.svg"
                         class="chevron left show-on-mobile active"
                         onclick="onPhotoArrowClick(event, true, '{{department.title}}')">
                    <img src="images/icon-chevron-right-light.svg"
                         class="chevron show-on-mobile active"
                         onclick="onPhotoArrowClick(event, false, '{{department.title}}')">
                  </div>
                </div>
                <div class="photo-hover">Read Bio</div>
                <div class="photo-info">
                  <div style="font-weight: 800">{{ riser.title }}</div>
                  <div>{{ riser.role }}</div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
            <div id="{{ department.title }}-bios" class="department-bios-wrapper {{ active }}">
              {% for riser in department._risers %}
              {% if loop.index < 4 %}
              {% set active = "" %}
              {% if loop.first %}
              {% set active = "active" %}
              {% endif %}
              <div id="{{ department.title }}-bio-{{ loop.index0 }}"
                   class="riser-bio-wrapper {{ department.title }}-bio {{ active }}">
                <div class="riser-bio-header">
                  <div class="bio-name">{{ riser.title }}</div>
                  <div class="bio-role">{{ riser.role }}</div>
                </div>
                <div id="bio" class="riser-bio">
                  <div class="bio-bio">{{ riser.bio }}</div>
                  <div class="bio-quote">
                    <div class="riser-quote-name">
                      {{ riser.title.split(' ')[0] }}'s View
                    </div>
                    <div id="quote" class="riser-quote">
                      "{{ riser.quote }}"
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-section dark">
  <div class="content-wrapper">
    <section-header header="Benefits"
                    subheader="Meaningful Work Goes Rewarded"
                    dark-mode></section-header>
    <div class="section-body-text large telegraf">
      Rise8 is going to transform the way our customers build software and we know that takes a
      dream team! The customer experience starts with the employee experience, so we take care of
      our
      employees. We offer competitive pay and benefits, invest in employee growth, and offer a
      culture you can’t find anywhere else.
    </div>
    <div class="section-grid telegraf">
      <div>
        <img class="grid-icon" src="images/icon-umbrella.svg" alt="">
        <div class="benefit-description">Insurance | up to 100% Coverage for Riser & dependents</div>
      </div>
      <div>
        <img class="grid-icon" src="images/icon-hand.svg" alt="">
        <div class="benefit-description">Health Care Opt-Out</div>
      </div>
      <div>
        <img class="grid-icon" src="images/icon-reverse-arrows.svg" alt="">
        <div class="benefit-description">401k Matching at 10%</div>
      </div>
      <div>
        <img class="grid-icon" src="images/icon-calendar.svg" alt="">
        <div class="benefit-description">4 Weeks PTO Plus federal holidays</div>
      </div>
      <div>
        <img class="grid-icon" src="images/icon-cake.svg" alt="">
        <div class="benefit-description">Birthday Off</div>
      </div>
      <div>
        <img class="grid-icon" src="images/icon-grad-cap.svg" alt="">
        <div class="benefit-description">Education & Training Budget</div>
      </div>
      <div>
        <img class="grid-icon" src="images/icon-bike.svg" alt="">
        <div class="benefit-description">Wellness Activities Budget</div>
      </div>
      <div>
        <img class="grid-icon" src="images/icon-apple.svg" alt="">
        <div class="benefit-description">Awesome Equipment</div>
      </div>
    </div>
  </div>
</div>
{% if data.jobs %}
<div class="content-section">
  <div class="content-wrapper">
    <section-header header="Rise to the Opportunity"
                    subheader="Find Your Next Role"></section-header>
    <div class="careers-wrapper">
      <div class="career-list-wrapper">

        {% if data.jobs.Administration %}
        <div class="career-section-wrapper">
          <div class="career-list-header">ADMINISTRATION</div>
          {% for job in data.jobs.Administration %}
          <a href={{ job.url }}>
            <div class="job-info">
              <div class="job-title">{{ job.name }}</div>
              <div class="job-location">{{ job.display_location }}</div>
            </div>
          </a>
          {% endfor %}
        </div>
        {% endif %}

        {% if data.jobs.Engineering %}
        <div class="career-section-wrapper">
          <div class="career-list-header">ENGINEERING</div>
          {% for job in data.jobs.Engineering %}
          <a href={{ job.url }}>
            <div class="job-info">
              <div class="job-title">{{ job.name }}</div>
              <div class="job-location">{{ job.display_location }}</div>
            </div>
          </a>
          {% endfor %}
        </div>
        {% endif %}

        {% if data.jobs.Design %}
        <div class="career-section-wrapper">
          <div class="career-list-header">DESIGN</div>
          {% for job in data.jobs.Design %}
          <a href={{ job.url }}>
            <div class="job-info">
              <div class="job-title">{{ job.name }}</div>
              <div class="job-location">{{ job.display_location }}</div>
            </div>
          </a>
          {% endfor %}
        </div>
        {% endif %}

        {% if data.jobs.Product_Management %}
        <div class="career-section-wrapper">
          <div class="career-list-header">PRODUCT MANAGEMENT</div>
          {% for job in data.jobs.Product_Management %}
          <a href={{ job.url }}>
            <div class="job-info">
              <div class="job-title">{{ job.name }}</div>
              <div class="job-location">{{ job.display_location }}</div>
            </div>
          </a>
          {% endfor %}
        </div>
        {% endif %}

      </div>
      <div class="career-list-partner">
        <img class="opportunity-image mobile-image">
        <img class="opportunity-image non-mobile" style="top: 7%; left: 23%; height: 26%; width: 65%">
        <img class="opportunity-image non-mobile" style="top: 12%; right: 0; height: 26%; width: 27%">
        <img class="opportunity-image non-mobile" style="top: 65%; left: 15%; height: 25%; width: 25%">
        <img class="opportunity-image non-mobile" style="top: 50%; left: 30%; height: 27%; width: 57%">
        <img class="opportunity-image non-mobile" style="bottom: 0; right: 1%; height: 24%; width: 22%">
      </div>
    </div>
  </div>
</div>
{% endif %}
<div class="content-section red">
  <div class="content-wrapper">
    <div class="tips-header">
      Tips for Rise8 Candidates
    </div>
    {% for tip in data.tips %}
    {% set hidden = "hidden" %}
    {% if loop.first %}
    {% set hidden = "" %}
    {% endif %}
    <div id="tip-{{ loop.index0 }}" class="tip-wrapper {{ hidden }}">
      <img src="images/icon-chevron-right-light.svg"
           id="tip-{{ loop.index0 }}-left"
           class="chevron left mobile-chevron"
           onclick="onTipArrowClick(event, true)">
      <div class="tip">
        <div class="quote">"{{ tip.title }}"</div>
        <div class="name telegraf bold">{{tip._riser[0].title}}</div>
        <div class="role telegraf">{{tip._riser[0].role}}</div>
      </div>
      <img src="images/icon-chevron-right-light.svg"
           id="tip-{{ loop.index0 }}-right"
           class="chevron mobile-chevron"
           onclick="onTipArrowClick(event, false)">
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
