{% extends "layout.html" %}

{% block main %}
<script>
  function onArrowClick(e, left) {
    const tips = document.getElementsByClassName('tip');
    let index = 0;
    for (let i = 0; i < tips.length; i++) {
      if (!tips[i].classList.contains('hidden')) {
        tips[i].classList.add('hidden');
        index = i;
        break;
      }
    }

    if (left) {
      if (index === 0) {
        tips[tips.length - 1].classList.remove('hidden');
      } else {
        tips[index - 1].classList.remove('hidden');
      }
    } else {
      if (index === tips.length - 1) {
        tips[0].classList.remove('hidden');
      } else {
        tips[index + 1].classList.remove('hidden');
      }
    }
  }
  function onDepartmentClick(e) {
    const departments = document.getElementsByClassName("department");
    for (let i = 0; i < departments.length; i++) {
      departments[i].classList.remove('active');
    }
    const departmentBiosContainers = document.getElementsByClassName("department-bios-container")
    for (let i = 0; i < departmentBiosContainers.length; i++) {
      departmentBiosContainers[i].classList.remove('active');
    }
    const bioPhotos = document.getElementsByClassName("riser-photo");
    for (let i = 0; i < bioPhotos.length; i++) {
      bioPhotos[i].classList.remove('active');
    }
    const bios = document.getElementsByClassName("riser-bio-wrapper");
    for (let i = 0; i < bios.length; i++) {
      bios[i].classList.remove('active');
    }
    e.target.classList.add('active');
    document.getElementById(`${e.target.id}-bios-container`).classList.add('active');
    document.getElementById(`${e.target.id}-photo-0`).classList.add('active');
    document.getElementById(`${e.target.id}-bio-0`).classList.add('active');
  }
  function onBioClick(e) {
    const bioPhotos = document.getElementsByClassName("riser-photo");
    for (let i = 0; i < bioPhotos.length; i++) {
      bioPhotos[i].classList.remove('active');
    }
    const bios = document.getElementsByClassName("riser-bio-wrapper");
    for (let i = 0; i < bios.length; i++) {
      bios[i].classList.remove('active');
    }
    e.target.classList.add('active');
    document.getElementById(`${e.target.id.replace('photo', 'bio')}`).classList.add('active');
  }
</script>

<hero-header memo="Message from the CEO" title="Welcome Future Risers" description="      Thanks for stopping by to find out more<br>
      about Rise8. We are a full stack digital<br>
      transformation firm that is underpinned by<br>
      a distinct culture and a collective ability to<br>
      deliver a better tomorrow. We are on a<br>
      mission to continuously deliver impactful<br>
      software that humans love. Join us on that<br>
      journey and find out more about Rise8.<br>"></hero-header>
<div class="signature">
  Bryon Kroger<br>
  <span style="font-weight: normal">Founder & CEO</span>
</div>
<div class="content-section">
  <div class="content-wrapper">
    <section-header header="Core Values" subheader="Tagline"></section-header>
    <div class="section-body-text large">
      Our core values are tied to the specific behaviors and skills we care about most. The more
      these values sound like you, and describe people you want to work with, the more likely
      you will thrive at Rise8.
    </div>
    <div class="values-body-wrapper">
      <img class="values-img"/>
      <div class="img-description" style="left: 330px;">
        <div class="img-description-header">Duty</div>
        <div class="img-description-subheader">DRIVEN WE RISE</div>
        <div class="img-description-content">
          Compelled by responsibility, we demand<br>
          better. Commanding ability, enlisting<br>
          experience, and engaging opportunity is not<br>
          obligation – it’s mission critical. It’s our very<br>
          foundation. And what drives us to reach higher.
        </div>
      </div>
      <img class="values-img"/>
      <div class="img-description" style="left: 714px;">
        <div class="img-description-header">Unity</div>
        <div class="img-description-subheader">TOGETHER WE RISE</div>
        <div class="img-description-content">
          Combining forces, aligning focus, and<br>
          consolidating capabilities, we can further the<br>
          possibilities. Step-in-step, we go beyond.<br>
          United, we achieve our common purpose<br>
          and better deliver uncommon results.
        </div>
      </div>
      <img class="values-img"/>
      <div class="img-description" style="left: 1086px;">
        <div class="img-description-header">Tenacity</div>
        <div class="img-description-subheader">FOREVER, WE RISE</div>
        <div class="img-description-content">
          Relentless in pursuit, steadfast in<br>
          conviction, unapologetic in our audacity.<br>
          Aiming higher, working faster, hell-bent on<br>
          eclipsing acceptable to create exceptional.<br>
          And never surrendering to anything less.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-section">
  <div class="content-wrapper">
    <section-header header="Let's Make Some Intros"
                    subheader="Your future teammates"></section-header>
    <div class="section-body-wrapper">
      <div class="list-wrapper">
        <div class="list-options-wrapper">
          {% for department in data.departments %}
          {% set active = "" %}
          {% if loop.first %}
          {% set active = "active" %}
          {% endif %}
          <div id="{{ department.title }}" class="list-option department {{ active }}" onclick="onDepartmentClick(event)">{{ department.title }}</div>
          {% endfor %}
        </div>
        <div class="list-partner">
          {% for department in data.departments %}
          {% set active = "" %}
          {% set dept = loop.index0 %}
          {% if loop.first %}
          {% set active = "active" %}
          {% endif %}
          <div id="{{ department.title }}-bios-container" class="department-bios-container {{ active }}">
            <div class="department-photos-wrapper">
              {% for riser in department._risers %}
              {% if loop.index < 4 %}
              {% set active = "" %}
              {% if loop.first %}
              {% set active = "active" %}
              {% endif %}
              {% set imgObj = apos.image.first(riser.photo) %}
              <div class="riser-photo-wrapper">
                <img src="{{ apos.attachment.url(imgObj) }}" alt="" onclick="onBioClick(event)" id="{{ department.title }}-photo-{{ loop.index0 }}" class="riser-photo {{ active }}">
                <div class="photo-hover">Read Bio</div>
                <div class="photo-info">
                  <div>{{ riser.title }}</div>
                  <div>{{ riser.role }}</div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
            <div id="{{ department.title }}-bios" class="department-bios-wrapper {{ active }}">
              {% for riser in department._risers %}
              {% if loop.index < 4 %}
              {% set active = "" %}
              {% if loop.first %}
              {% set active = "active" %}
              {% endif %}
              <div id="{{ department.title }}-bio-{{ loop.index0 }}" class="riser-bio-wrapper {{ active }}">
                <div class="riser-bio-header">
                  <div class="bio-name">{{ riser.title }}</div>
                  <div class="bio-role light">{{ riser.role }}</div>
                </div>
                <div id="bio" class="riser-bio">
                  <div class="bio-bio">{{ riser.bio }}</div>
                  <div class="bio-quote">
                    <div class="riser-quote-name light">
                      {{ riser.title.split(' ')[0] }}'s View
                    </div>
                    <div id="quote" class="riser-quote light">
                      "{{ riser.quote }}"
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-section dark">
  <div class="content-wrapper">
    <section-header header="Meaningful Work Goes Rewarded"
                    subheader="Tagline"
                    dark-mode></section-header>
    <div class="section-body-text large">
      Rise8 is going to transform the way our customers build software and we know that takes a
      dream team! The customer experience starts with the employee experience, so we take care of
      our
      employees. We offer competitive pay and benefits, invest in employee growth, and offer a
      culture you can’t find anywhere else.
    </div>
    <div class="values-body-wrapper dark">
      <div class="section-grid">
        <div style="grid-column: 1">
          <div class="grid-icon"></div>
          <Div>Insurance | up to<br>
            100% Coverage for<br>
            Riser & dependents
          </Div>
        </div>
        <div style="grid-column: 2">
          <div class="grid-icon"></div>
          <Div>Health Care Opt-Out</Div>
        </div>
        <div style="grid-column: 3">
          <div class="grid-icon"></div>
          <Div>
            401k Matching at<br>
            10%
          </Div>
        </div>
        <div style="grid-column: 4">
          <div class="grid-icon"></div>
          <Div>
            4 Weeks PTO<br>
            Plus federal holidays
          </Div>
        </div>
        <div style="grid-column: 1; grid-row: 2">
          <div class="grid-icon"></div>
          <Div>Birthday Off</Div>
        </div>
        <div style="grid-column: 2; grid-row: 2">
          <div class="grid-icon"></div>
          <Div>
            Education &<br>
            Training Budget
          </Div>
        </div>
        <div style="grid-column: 3; grid-row: 2">
          <div class="grid-icon"></div>
          <Div>
            Wellness Activities<br>
            Budget
          </Div>
        </div>
        <div style="grid-column: 4; grid-row: 2">
          <div class="grid-icon"></div>
          <Div>
            Awesome<br>
            Equipment
          </Div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-section">
  <div class="content-wrapper">
    <section-header header="Rise to the Opportunity"
                    subheader="Find Your Next Role"></section-header>
    <div class="values-body-wrapper">
      <div class="career-list-wrapper">
        <div class="career-section-wrapper">
          <div class="career-list-header">ADMINISTRATION</div>
          <div class="job-info">
            <div class="job-title">Skillbridge Intern</div>
            <div class="job-location">Remote</div>
          </div>
        </div>
        <div class="career-section-wrapper">
          <div class="career-list-header">ENGINEERING</div>
          <div class="job-info">
            <div class="job-title">Senior Platform Engineer</div>
            <div class="job-location">Los Angeles, CA or Remote</div>
          </div>
          <div class="job-info">
            <div class="job-title">Senior Software Engineer</div>
            <div class="job-location">Los Angeles, CA or Remote</div>
          </div>
          <div class="job-info">
            <div class="job-title">Software Engineer II (Level 3)</div>
            <div class="job-location">Los Angeles, CA or Remote</div>
          </div>
          <div class="job-info">
            <div class="job-title">Software Engineer III (Level 3)</div>
            <div class="job-location">Los Angeles, CA or Remote</div>
          </div>
          <div class="job-info">
            <div class="job-title">Software Engineer III (Level 4)</div>
            <div class="job-location">Los Angeles, CA or Remote</div>
          </div>
          <div class="job-info">
            <div class="job-title">Skillbridge Intern</div>
            <div class="job-location">Remote</div>
          </div>
        </div>

        <div class="career-section-wrapper">
          <div class="career-list-header">DESIGN</div>
          <div class="job-info">
            <div class="job-title">Product Designer III</div>
            <div class="job-location">Remote</div>
          </div>
          <div class="job-info">
            <div class="job-title">Product Designer III</div>
            <div class="job-location">Remote</div>
          </div>
          <div class="job-info">
            <div class="job-title">Skillbridge Intern</div>
            <div class="job-location">Remote</div>
          </div>

        </div>
        <div class="career-section-wrapper">
          <div class="career-list-header">PRODUCT MANAGEMENT</div>
          <div class="job-info">
            <div class="job-title">Technical Product Manager II (Level 5)</div>
            <div class="job-location">Remote</div>
          </div>
          <div class="job-info">
            <div class="job-title">Skillbridge Intern</div>
            <div class="job-location">Remote</div>
          </div>
        </div>
      </div>
      <div class="career-list-partner">
        <img style="position: absolute;width: 192px;height: 406px;">
        <img style="position: absolute;width: 399px;height: 199px;left: 25px;top: 42px;">
        <img style="position: absolute;width: 399px;height: 199px;left: 230px;top: 260px;">
        <img style="position: absolute;width: 199px;height: 199px;left: 77px;top: 336px;">
        <img style="position: absolute;width: 264px;height: 199px;left: 466px;top: 68px;">
        <img style="position:absolute;width: 199px;height: 199px;left: 524px;top: 376px;">
      </div>
    </div>
  </div>
</div>
<div class="content-section red">
  <div class="content-wrapper">
    <div class="tips-header">
      Tips for Rise8 Candidates
    </div>
    <div class="values-body-wrapper" style="justify-content: center;">
      <img src="images/icon-chevron-right-light.svg"
           class="chevron left"
           onclick="onArrowClick(event, true)">
      {% for tip in data.tips %}
      {% set hidden = "hidden" %}
      {% if loop.first %}
      {% set hidden = "" %}
      {% endif %}
      <div class="tip {{ hidden }}">
        <div class="quote">{{ tip.title }}</div>
        <div class="name">{{tip._riser[0].title}}</div>
        <div class="role">{{tip._riser[0].role}}</div>
      </div>
      {% endfor %}
      <img src="images/icon-chevron-right-light.svg" class="chevron"
           onclick="onArrowClick(event, false)">
    </div>
  </div>
</div>
{% endblock %}
