{% extends "layout.html" %}

{% block main %}
<div class="hero">
  <div class="left">
    <div class="memo">
      Message from the CEO
    </div>
    <div class="title">
      Welcome<br>
      Future Risers
    </div>
    <div class="description">
      Thanks for stopping by to find out more<br>
      about Rise8. We are a full stack digital<br>
      transformation firm that is underpinned by<br>
      a distinct culture and a collective ability to<br>
      deliver a better tomorrow. We are on a<br>
      mission to continuously deliver impactful<br>
      software that humans love. Join us on that<br>
      journey and find out more about Rise8.<br>
    </div>
  </div>
  <div class="slanted-div"></div>
  <div class="right">
    <div style="width: 600px"></div>
    <div class="signature">
      Bryan Kroger<br>
      <span style="font-weight: normal">Founder & CEO</span>
    </div>
  </div>
</div>
<div class="content-section">
  <div class="content-wrapper">
      <div class="section-header-wrapper">
        <div class="section-subheader">Tagline</div>
        <div class="section-header">Core Values</div>
      </div>
    <div class="description">
      Our core values are tied to the specific behaviors and skills we care about most. The more<br>
      these values sound like you, and describe people you want to work with, the more likely you<br>
      will thrive at Rise8.
    </div>
        <div class="section-body-wrapper">
          <img class="values-img"/>
          <div class="img-description" style="left: 330px;">
            <div class="img-description-header">Duty</div>
            <div class="img-description-subheader">DRIVEN WE RISE</div>
            <div class="img-description-content">
              Compelled by responsibility, we demand<br>
              better. Commanding ability, enlisting<br>
              experience, and engaging opportunity is not<br>
              obligation – it’s mission critical. It’s our very<br>
              foundation. And what drives us to reach higher.
            </div>
          </div>
          <img class="values-img"/>
          <div class="img-description" style="left: 714px;">
            <div class="img-description-header">Unity</div>
            <div class="img-description-subheader">TOGETHER WE RISE</div>
            <div class="img-description-content">
              Combining forces, aligning focus, and<br>
              consolidating capabilities, we can further the<br>
              possibilities. Step-in-step, we go beyond.<br>
              United, we achieve our common purpose<br>
              and better deliver uncommon results.
            </div>
          </div>
          <img class="values-img"/>
          <div class="img-description" style="left: 1086px;">
            <div class="img-description-header">Tenacity</div>
            <div class="img-description-subheader">FOREVER, WE RISE</div>
            <div class="img-description-content">
              Relentless in pursuit, steadfast in<br>
              conviction, unapologetic in our audacity.<br>
              Aiming higher, working faster, hell-bent on<br>
              eclipsing acceptable to create exceptional.<br>
              And never surrendering to anything less.
            </div>
          </div>
        </div>
  </div>
</div>
<div class="content-section">
  <div class="content-wrapper">
    <div class="section-header-wrapper">
      <div class="section-subheader">Your Future Teammates</div>
      <div class="section-header">Let's Make Some Intros</div>
    </div>
  </div>
</div>
<div class="content-section dark">
  <div class="content-wrapper">
    <div class="section-header-wrapper dark">
      <div class="section-subheader">Tagline</div>
      <div class="section-header">Meaningful Work Goes Rewarded</div>
    </div>
    <div class="description dark">
      Rise8 is going to transform the way our customers build software and we know that takes a dream<br>
      team! The customer experience starts with the employee experience, so we take care of our<br>
      employees. We offer competitive pay and benefits, invest in employee growth, and offer a culture<br>
      you can’t find anywhere else.
    </div>
    <div class="section-body-wrapper dark">
      <div style="display: grid; gap: 33px 72px; grid-template-columns: 176px 176px 176px 176px; grid-template-rows: 93px 93px; padding-top: 34px">
        <div style="grid-column: 1">
          <div style="width: 25px; height: 25px">Icon</div>
          <Div>Text</Div>
        </div>
        <div style="grid-column: 2">2</div>
        <div style="grid-column: 3">3</div>
      </div>
    </div>
  </div>
</div>
<hero-header title="Welcome<br>Future Risers" memo="Message from the CEO"
             description="Changing the culture of the largest<br>
      bureaucracy on the planet is not a hero’s<br>
      task. It takes a dream team aligned on the<br>
      biggest outcomes."></hero-header>
{% endblock %}
