{% extends "layout.html" %}

{% block main %}
{% set imgObj = apos.image.first(data.page.heroImage) %}
<hero-header title="Our Services" memo="We deliver outcomes in production"
     description="We transform the way high compliance organizations build, deploy, and
     utilize software. Our innovation strategies, executed by balanced teams, deliver impacts that transform culture." image="{{ apos.attachment.url(imgObj) }}"></hero-header>
<section class="content-section">
  <div class="content-wrapper">
    <section-header header="Cloud + Platforms" subheader="We make ship easy"></section-header>
    <div class="service-section-wrapper">
      <div class="section-description">We specialize in delivering a cloud-native platform and toolchain that is optimized for
        change so enterprises can move at start-up speeds and with greater mission agility.
      </div>
      <div class="cloud-wrapper">
        <img class="cloud-image" src="images/icon-service-cloud-1.svg" alt=""/>
        <ul>
          <li>Cloud and on-prem infrastructure</li>
          <li>Platform and toolchain</li>
          <li>Site reliability engineering</li>
          <li>Automated onboarding & provisioning</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="content-section grey">
  <div class="content-wrapper">
    <section-header header="Pipelines + Pathways" subheader="we get ship done"></section-header>
    <div class="service-section-wrapper">
      <div class="section-description">We ensure that teams have a secure and compliant means to deploy quickly and continuously
        with high quality and reduced risk.
      </div>
      <div class="cloud-wrapper">
        <img class="cloud-image" src="images/icon-service-cloud-2.svg" alt=""/>
        <ul>
          <li>Greenfield application delivery</li>
          <li>Application modernization</li>
          <li>Agile practice & portfolio leadership</li>
          <li>CI/CD solutions with advanced automated testing</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="content-section">
  <div class="content-wrapper">
    <section-header header="Applications + Digital Products"
                    subheader="we make ship happen"></section-header>
    <div class="service-section-wrapper">
      <div class="section-description">We specialize in delivering a cloud-native platform and toolchain that is optimized for
        change so enterprises can move at start-up speeds and with greater mission agility.
      </div>
      <div class="cloud-wrapper">
        <img class="cloud-image" src="images/icon-service-cloud-3.svg" alt=""/>
        <ul>
          <li>Secure release pipelines</li>
          <li>Continuous Compliance (NIST, HIPAA, etc)</li>
          <li>Advanced release engineering</li>
          <li>Path-to-prod onboarding & enablement</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="content-section">
  <div class="content-wrapper">
    <section-header header="What makes us different"
                    subheader="rapid outcomes in production"></section-header>
    <img src="images/image-diagram.svg" class="diagram">
    <div class="mobile-diagram">
      <img src="images/image-diagram-mobile-1.svg">
      <img src="images/image-diagram-mobile-2.svg">
    </div>
    <div class="service-section-wrapper">
      <div class="diagram-caption">It is not the words we use or the tactics we execute. In this age
        of<br/>
        innovation theater, we promise realness: rapid outcomes in production.<br/><br/>
        We bridge the gap between output and impact.
      </div>
    </div>
  </div>
</section>
<section class="content-section">
  <div class="content-wrapper">
    <who-we-serve></who-we-serve>
  </div>
</section>
{% endblock %}
