{% extends "layout.html" %}

{% block main %}
<hero-header title="Our Services" memo="We deliver outcomes in production"
             description="We transform the way high compliance organizations<br/>
      build, deploy, and utilize software. We aren’t<br/>
      consultants who just do an assessment and leave. We<br/>
      pair with you until you succeed."></hero-header>
<section class="content-section">
  <div class="content-wrapper">
    <who-we-serve></who-we-serve>
  </div>
</section>
{% endblock %}
