{% extends "layout.html" %}

{% block main %}
<hero-header title="Our Services" memo="We deliver outcomes in production"
             description="We transform the way high compliance organizations<br/>
      build, deploy, and utilize software. We aren’t<br/>
      consultants who just do an assessment and leave. We<br/>
      pair with you until you succeed."></hero-header>
<section class="content-section">
  <div class="content-wrapper">
    <section-header header="Cloud + Platforms" subheader="We make ship easy"></section-header>
    <div class="service-section-wrapper">
      <div>We specialize in delivering a cloud-native platform and toolchain that is optimized for
        change so enterprises can move at start-up speeds and with greater mission agility.
      </div>
      <div>
        <img class="cloud-image" src="images/icon-service-cloud-1.svg" alt=""/>
        <ul>
          <li>Cloud and on-prem infrastructure</li>
          <li>Platform and toolchain</li>
          <li>Site reliability engineering</li>
          <li>Automated onboarding & provisioning</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="content-section">
  <div class="content-wrapper">
    <who-we-serve></who-we-serve>
  </div>
</section>
{% endblock %}
