{% extends "layout.html" %}

{% block main %}
<hero-header title="The Slant" memo="A finger on the pulse. The finger to the status quo."
             description="Game-changing tech isn’t possible without<br>
      an industry-changing mindset. You gotta<br>
      walk the talk. We love what we do, and we’re<br>
      not shy about sharing our triumphs, our trip-<br>
      ups, and our unfiltered thoughts on all of it."></hero-header>
{% if data.page._featured[0] %}
<div class='featured-blog-wrapper'>
  <div class='background'></div>
  <div class="featured-blog">
    <div class="title">{{data.page._featured[0].title}}</div>
    <span class="subtitle">{{data.page._featured[0].subtitle}}</span>
    <div class="time">
      <img src="/images/clock.svg" alt="clock">
      <span>{{data.page._featured[0].minutes}} min</span>
    </div>
    <custom-button text="Read" link="/blog/{{data.page._featured[0].slug}}" mode="dark" half></custom-button>
  </div>
</div>
{% endif %}
<div class="blog-grid">
  {% for blog in data.pieces %}
  <a href="/blog/{{blog.slug}}" class="card">
    <div class="banner"><span class="title">{{ blog.title}}</span></div>
    <div class="info">
      <span class="topic">{{blog._topic[0].title}}</span>
      <div class="time">
        <img src="/images/clock-black.svg" alt="clock" style="fill: #000000">
        <span>{{blog.minutes}} min</span>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}
