{% extends "layout.html" %}
{% import '@apostrophecms/pager:macros.html' as pager with context %}


{% block main %}
{% set imgObj = apos.image.first(data.page.heroImage) %}
<hero-header id="blog-hero-header" title="The Slant Blog" memo="A finger on the pulse. The finger to the status quo."
             description="Game-changing tech isn’t possible without an industry-changing mindset.
                         You gotta walk the talk. We love what we do, and we’re not shy about
                         sharing our triumphs, our trip-ups, and our unfiltered thoughts on all of
                         it." image="{{ apos.attachment.url(imgObj) }}"></hero-header>
<div class="blog-page-container">
  {% if data.page._featured[0] %}
  <div class='featured-blog-wrapper'>
    <div class='background'></div>
    <div class="featured-blog" style="background-image: url({{data.page._featured[0].image.items[0]._image[0].attachment._urls.max}})">
      <div class="title">{{data.page._featured[0].shortTitle}}</div>
      <span class="subtitle">{{data.page._featured[0].subtitle}}</span>
      <div class="time">
        <img src="/images/clock.svg" alt="clock">
        <span>{{data.page._featured[0].minutes}} min</span>
      </div>
      <custom-button text="Read" link="/blog/{{data.page._featured[0].slug}}" mode="dark" half></custom-button>
    </div>
  </div>
  {% endif %}
  <div class="other-posts-title">Other Posts</div>
  <div class="blog-grid-container">
    <div class="blog-grid">
      {% for blog in data.pieces %}
      <a href="/blog/{{blog.slug}}" class="card">
        {% if blog.image %}
        <div class="banner" style="background-image: url({{blog.image.items[0]._image[0].attachment._urls['two-thirds']}})">
          <div class="photo-gradient"></div>
          <span class="title">{{ blog.title}}</span>
        </div>
        {% else %}
        <div class="banner"><span class="title">{{ blog.title}}</span></div>
        {% endif %}
        <div class="info">
          <span class="topic">{{blog._topic[0].title}}</span>
          <div class="time">
            <img src="/images/clock-black.svg" alt="clock" style="fill: #000000">
            <span>{{blog.minutes}} min</span>
          </div>
        </div>
      </a>
      {% endfor %}
      {{ pager.render({
      page: data.currentPage,
      total: data.totalPages,
      class: 'blog-pager'
      }, data.url) }}
    </div>
  </div>
</div>
{% endblock %}
