{% extends "layout.html" %}

{% block main %}
<div class="blog">
  <section class="header">
    <span class="topic">{{data.piece._topic[0].title}}</span>
    <div class="title">{{data.piece.title}}
      <span class="time">
        <img src="/images/clock-black.svg" alt="clock" style="fill: #000000">
        <span>{{data.piece.minutes}} min</span>
      </span>
    </div>
    <div class="subtitle">{{data.piece.subtitle}}</div>

    {% if data.piece.blogType === 'read' %}
    <div class="banner" style="float: left">
      {% area data.piece, 'image' %}
    </div>
    {% endif %}

    {% if data.piece.blogType === 'listen' %}
    <!--suppress HtmlDeprecatedAttribute, HtmlUnknownTarget -->
    <iframe class="banner" style="border-radius:12px"
            src="{{ data.piece.embedUrl }}?utm_source=generator"
            width="743" height="232" frameBorder="0" allowfullscreen=""
            allow="clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    {% endif %}

    {% if data.piece.blogType === 'listen-soundcloud' %}
    <iframe class="banner" width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
            src="https://w.soundcloud.com/player/?url={{ data.piece.embedUrl }}&color=%23fd022c&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
    {% endif %}

    {% if data.piece.blogType === 'watch' %}
    <!--suppress HtmlDeprecatedAttribute, HtmlUnknownTarget -->
    <iframe class="banner" width="743" height="418" src="{{ data.piece.embedUrl }}"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    {% endif %}

    <div class="get-to-know">
      <h4>Have it all: sooner, faster, safer</h4>
      <h3>We deliver software up to twenty-five times faster than other IT partners</h3>
      <p>We are designers, product experts, and engineers of the highest caliber transforming how
        the DoD delivers software.</p>
      <custom-button text="Get To Know Us" link="/about" mode="dark"
                     text-style="font-family: 'DM sans', serif;font-weight: 400;"></custom-button>
    </div>

    <span class="author" style="clear: both">
      {% if data.piece._author[0] %}
        By
        {% for author in data.piece._author %}
          <a href="/about">{{ author.title }}</a>
          {% if not loop.last %}
          ,
          {% endif %}
        {% endfor %}
      {% else %}
        By <a href="/about">Rise8</a>
      {% endif %}
    </span>
  </section>

  <ul class="social">
    <li><a href="https://www.linkedin.com/company/rise8" target="_blank"><img
        src="/images/logo-linkedin.svg" alt="LinkedIn logo"></a></li>
    <li><a href="https://twitter.com/Rise8_Inc" target="_blank"><img
        src="/images/logo-twitter.svg" alt="Twitter logo"></a></li>
    <li><a href="https://www.facebook.com/rise8/" target="_blank"><img
        src="/images/logo-facebook.svg" alt="Facebook logo"></a></li>
    <li><a href="https://www.instagram.com/rise8_inc/" target="_blank"><img
        src="/images/logo-instagram.svg" alt="Instagram logo"></a></li>
  </ul>

  <section class="body">
    <div class="text">
      {% if data.piece.quote %}
      <div class="quote">
        <span class="open">“</span>
        <span class="text">{{ data.piece.quote }}</span>
      </div>
      {% endif %}
      <p>
        {% area data.piece, 'bodyText' %}
      </p>
    </div>
  </section>

  <ul class="social" style="clear: both">
    <li><a href="https://www.linkedin.com/company/rise8" target="_blank"><img
        src="/images/logo-linkedin.svg" alt="LinkedIn logo"></a></li>
    <li><a href="https://twitter.com/Rise8_Inc" target="_blank"><img
        src="/images/logo-twitter.svg" alt="Twitter logo"></a></li>
    <li><a href="https://www.facebook.com/rise8/" target="_blank"><img
        src="/images/logo-facebook.svg" alt="Facebook logo"></a></li>
    <li><a href="https://www.instagram.com/rise8_inc/" target="_blank"><img
        src="/images/logo-instagram.svg" alt="Instagram logo"></a></li>
  </ul>

  {% if data.otherBlogsByTopic %}
  <section class="more-in-topic">
    <h1>More in {{data.piece._topic[0].title}}</h1>
    {% for blog in data.otherBlogsByTopic %}
    <a href="/blog/{{blog.slug}}">{{blog.title}}</a>
    {% endfor %}
  </section>
  {% endif %}
</div>
{% endblock %}
